section.advantages
  .container.container--fullwidth
    .title.text--center
      h3 70 лет работы позволили нам добиться серьезных преимуществ
      span 02
    .advantages-inner
      .slider-project.hidden__md.hidden__lg.margbot30
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-1
            .advantages__item-title
              h4 Швейцарские технологии
            .advantages__item-desc
              p.text__lg Работаем со швейцарской точностью. Выпускаем мебель европейского уровня
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-1.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-2
            .advantages__item-title
              h4 Полная сборка на заводе
            .advantages__item-desc
              p.text__lg 90% вашей кухни, включая все вкрученные петли, собирается на заводе автоматически, что сводит человеческий фактор к минимуму
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-2.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-3
            .advantages__item-title
              h4  Класс экологичности - А1
            .advantages__item-desc
              p.text__lg Безопасные современные кухни без вреда для здоровья
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-3.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-4
            .advantages__item-title
              h4 Обработка лазером
            .advantages__item-desc
              p.text__lg Технология обработки кромки фасадов лазером обеспечивает идеальный внешний вид без швов на стыках
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-4.jpg', alt='')
      .is-row.is-row--null.hidden__sm.hidden__xs          
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-1
            .advantages__item-title
              h4 Швейцарские технологии
            .advantages__item-desc
              p.text__lg Работаем со швейцарской точностью. Выпускаем мебель европейского уровня
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-1.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-2
            .advantages__item-title
              h4 Полная сборка на заводе
            .advantages__item-desc
              p.text__lg 90% вашей кухни, включая все вкрученные петли, собирается на заводе автоматически, что сводит человеческий фактор к минимуму
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-2.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              i.is-icons.is-icons--adv-3
            .advantages__item-title
              h4  Класс экологичности - А1
            .advantages__item-desc
              p.text__lg Безопасные современные кухни без вреда для здоровья
          .advantages__item-img
            img(src='images/adv-3.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              i.is-icons.is-icons--adv-4
            .advantages__item-title
              h4 Обработка лазером
            .advantages__item-desc
              p.text__lg Технология обработки кромки фасадов лазером обеспечивает идеальный внешний вид без швов на стыках
          .advantages__item-img
            img(src='images/adv-4.jpg', alt='')
