section.advantages
  .container.container--fullwidth
    .title.text--center
      h3 Наши преимущества
      span О НАС
    .advantages-inner
      .slider-project.hidden__md.hidden__lg.margbot30
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-1.png', alt='')
            .advantages__item-title
              h4 Клееный корпус
            .advantages__item-desc
              p.text__lg Технология совмещения деталей корпуса с применением промышленного клея. Кухни с клееным корпусом имеют идеально ровную геометрию и устойчивость к воздействию внешних факторов
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-1.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-2.png', alt='')
            .advantages__item-title
              h4 Автоматическая сборка
            .advantages__item-desc
              p.text__lg 90% вашей кухни, включая все вкрученные петли, собирается на заводе автоматически, что сводит человеческий фактор к минимуму
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-2.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-3.png', alt='')
            .advantages__item-title
              h4 Механизмы BLUM
            .advantages__item-desc
              p.text__lg Безопасные современные кухни без вреда для здоровья
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-3.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-4.png', alt='')
            .advantages__item-title
              h4 Европейские поставщики комплектующих
            .advantages__item-desc
              p.text__lg Технология обработки кромки фасадов лазером обеспечивает идеальный внешний 
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-4.jpg', alt='')
      .is-row.is-row--null.hidden__sm.hidden__xs          
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-1.png', alt='')
            .advantages__item-title
              h4 Клееный корпус
            .advantages__item-desc
              p.text__lg Технология совмещения деталей корпуса с применением промышленного клея. Кухни с клееным корпусом имеют идеально ровную геометрию и устойчивость к воздействию внешних факторов
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-1.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-2.png', alt='')
            .advantages__item-title
              h4 Автоматическая сборка
            .advantages__item-desc
              p.text__lg 90% вашей кухни, включая все вкрученные петли, собирается на заводе автоматически, что сводит человеческий фактор к минимуму
          .advantages__item-img.advantages__item-img--r
            img(src='images/card-adv-2.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-3.png', alt='')
            .advantages__item-title
              h4 Механизмы BLUM
            .advantages__item-desc
              p.text__lg Безопасные современные кухни без вреда для здоровья
          .advantages__item-img
            img(src='images/card-adv-3.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              img(src='images/icons/card-sale-ico-4.png', alt='')
            .advantages__item-title
              h4 Европейские поставщики комплектующих
            .advantages__item-desc
              p.text__lg Технология обработки кромки фасадов лазером обеспечивает идеальный внешний 
          .advantages__item-img
            img(src='images/card-adv-4.jpg', alt='')
