section.advantages
  .container.container--fullwidth
    .title.text--center
      h3 70 лет работы позволили нам добиться серьезных преимуществ
      //- h3 Преимущества
      span 03
    .advantages-inner
      .slider-project.hidden__md.hidden__lg.margbot30
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-5
            .advantages__item-desc
              p.text__lg Разработка модельного ряда с учётом европейских тенденций и планировок
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-5.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/adv-6.png', alt='')
            .advantages__item-desc
              p.text__lg Соблюдение европейских стандартов качества мебельного производства
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-6.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-7
            .advantages__item-desc
              p.text__lg Внедрение немецкой системы менеджмента и контроля качества
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-7.jpg', alt='')
        .advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-8
            .advantages__item-desc
              p.text__lg Европейская система логистики и складов – гарантированная оптимизация процессов комплектации и отгрузки
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-8.jpg', alt='')
      .is-row.is-row--null.hidden__sm.hidden__xs          
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              i.is-icons.is-icons--adv-5
            //- .advantages__item-title
              h4 Швейцарские технологии
            .advantages__item-desc
              p.text__lg Разработка модельного ряда с учётом европейских тенденций и планировок
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-5.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--l
            .advantages__item-ico
              img(src='images/icons/adv-6.png', alt='')
            //- .advantages__item-title
              h4 Полная сборка на заводе
            .advantages__item-desc
              p.text__lg Соблюдение европейских стандартов качества мебельного производства
          .advantages__item-img.advantages__item-img--r
            img(src='images/adv-6.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              i.is-icons.is-icons--adv-7
            //- .advantages__item-title
              h4 Класс экологичности - А1
            .advantages__item-desc
              p.text__lg Внедрение немецкой системы менеджмента и контроля качества
          .advantages__item-img
            img(src='images/adv-7.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.advantages__item
          .advantages__item-info.advantages__item-info--r
            .advantages__item-ico
              i.is-icons.is-icons--adv-8
            //- .advantages__item-title
              h4 Обработка лазером
            .advantages__item-desc
              p.text__lg Европейская система логистики и складов – гарантированная оптимизация процессов комплектации и отгрузки
          .advantages__item-img
            img(src='images/adv-8.jpg', alt='')
