section.card.card-main.card-main--bot
  .container.container--fullwidth
    .is-row.is-row--null.card-main__elem
      .is-col.is-col__md-6.is-col__xs-12
        .card-main__elem-img
          img(src='images/card-fur.jpg', alt='')
      .is-col.is-col__md-6.is-col__xs-12.relative
        .card-main__info.card-main__info--lg
          .card-main__info-body
            h3.light Как получить мебель дешевле #[br] до 70%?
            .margtop30.margbot30
              p.text__sm В наших салона есть образцы мебели, которые мы рапродаем после #[br] выхода новой коллекции. Оставьте свой e-mail и мы оповестим вас, если #[br] эта кухня будет на распродаже.
            form(action="" method="method")
              .is-row.form__group
                .is-col.is-col__lg-7.is-col__sm-6.is-col__xs-12
                  .form__group
                    input.control(type='email', placeholder='Ваш E-mail')
                .is-col.is-col__lg-5.is-col__sm-6.is-col__xs-12
                  .form__group 
                    button.btn.btn__sm.btn--full.btn--default(type='submit') Сообщите мне о скидке
