section.card-collect
  .container   
      .is-col__lg-8.centered-block
        .is-row.middle__xs
          .is-col.is-col__sm-7.is-col__xs-12
            img(src='images/card-sub.jpg', alt='')
          .is-col.is-col__sm-4.is-col__xs-12
            .card-collect-info
              p Современный стиль
              h3 Кухня «Токио»
              .price
                span.price-new 108 867 р.
              .margtop30
                a.text--primary.text__sm(href='#') Посмотреть
