section.card-includes
  .container
    .is-col__lg-9.centered-block
      .card-includes-inner.is-row.is-row--null
        - for (var x = 1; x < 5; x++)
          .is-col__md-3.is-col__xs-6
            .card-includes__item
              .card-includes__item-img
                img(src='images/tech-'+x+'.jpg', alt='')
              a.card-includes__item-name(href='#')
                p Кухонная плита
                p.text__sm.text--grey Bosh mdr-13
