section.card-feature.hidden__sm.hidden__xs
  .container.container--fullwidth
    .is-row.is-row--null
      .is-col.is-col__md-3.card-feature__item
        .card-feature__item-ico
          img(src='images/icons/card-sale-ico-1.png', alt='')
        .card-feature__item-name Кленый  #[br] корпус
      .is-col.is-col__md-3.card-feature__item
        .card-feature__item-ico
          img(src='images/icons/card-sale-ico-2.png', alt='')
        .card-feature__item-name  Автоматическая  #[br] сборка
      .is-col.is-col__md-3.card-feature__item
        .card-feature__item-ico
          img(src='images/icons/card-sale-ico-3.png', alt='')
        .card-feature__item-name Механизмы #[br] BLUM
      .is-col.is-col__md-3.card-feature__item
        .card-feature__item-ico
          img(src='images/icons/card-sale-ico-4.png', alt='')
        .card-feature__item-name Собственное производство #[br] SWISS MADE в СПБ
