section.designers
  .container    
    .is-col__lg-6.is-col__md-7.centered-block.text--center
      .title.title--mid.text--center
        h3 Наши дизайнеры
        span Дизайн
      .slider-project-b
        - for (var x = 1; x < 6; x++)
          div
            .designers-info
              .designers-info__name.bg--white Анна Буфетова
              .designers-info__img.bg--white
                img(src='images/ava-d.png', alt='')
              .designers-info__adr.bg--white
                div +7 (812) 244-37-36
                span.text__sm Салон на Московском пр., 79
            blockquote Простые условия кредитования помогут вам воплотить все идеи #[br] по обустройству кухни, а отсутствие переплаты сделает покупку #[br] еще более приятной.
