section.fur-info
  .container
    .is-col__lg-9.centered-block
      .slider-project-bb.fur-info-inner              
        - for (var x = 1; x < 6; x++)
          .fur-info__item
            h3.margbot30 Изготовление кухонь на собственном производстве
            h4.margbot30 «Первая мебельная» фабрика — предприятие с 70-летней историей. С 1945 года мыпроизводили различную мебель на заказ и в начале 2000-х сконцентрировали внимание наизготовлении кухонь.
            p.text__lg Ведь это место — источник тепла в доме. В 2014 году мыавтоматизировали 90% фабрики на основе швейцарских технологий. Таким образом мы гарантируем качественное производство без брака.
