section.hotel-works
  .container
    .title.title--mid.text--center
      h3 Нам доверились следующие компании
      span Партнеры
    .is-col__lg-9.centered-block
      .card-includes-inner.slider-more
        - for (var x = 1; x < 4; x++)
          .card-includes__item
            .card-includes__item-img
              img(src='images/hotel-1.jpg', alt='')
            a.card-includes__item-name(href='#')
              p Отель Hilton
              p.text__sm.text--grey Bosh mdr-13
          .card-includes__item
            .card-includes__item-img
              img(src='images/hotel-2.jpg', alt='')
            a.card-includes__item-name(href='#')
              p Отель Radisson
              p.text__sm.text--grey Bosh mdr-13
          .card-includes__item
            .card-includes__item-img
              img(src='images/hotel-3.jpg', alt='')
            a.card-includes__item-name(href='#')
              p Отель Park Inn
              p.text__sm.text--grey Bosh mdr-13
          .card-includes__item
            .card-includes__item-img
              img(src='images/hotel-4.jpg', alt='')
            a.card-includes__item-name(href='#')
              p Отель Sheraton
              p.text__sm.text--grey Bosh mdr-13
