section.objects
  .container.container--fullwidth
    .is-row.is-row--null
      .is-col.is-col__lg-4.is-col__md-5.objects-left.is-col__xs-12
        .objects-header.is-row.is-row--null
          .is-col.is-col__md-6.is-col__xs-12
            a.btn.btn--primary.btn__lg.btn--full(href='#') Санкт-Петербург
          .is-col.is-col__md-6.is-col__xs-12
            select.control.control__lg 
              option(default) Выберите город
              option Санкт-Петербург
              option Москва
        .objects-body
          .objects-body-inner
            - for (var x = 1; x < 5; x++)
              .objects-body__item
                .objects-body__item-subway
                  .ico.ico--blue
                  span м. Фрунзенская
                .objects-body__item-address  Московский пр., 79
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_mos79@1mf.ru
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Пн-Пт: 10:00-20:00
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Сб-Вс: 10:00-20:00
              .objects-body__item
                .objects-body__item-subway
                  .ico.ico--green
                  span м. Приморская
                .objects-body__item-address В.О. Уральская ул. 17
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_uralskaya@1mf.ru
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__xs-12 Ежедневно: 10:00 до 20:00 #[span.text--grey (без перерыва)]
              .objects-body__item
                .objects-body__item-subway
                  .ico.ico--red
                  span м.Старая Деревня
                .objects-body__item-address Мебельная ул., д.1  #[br] МЦ «Мебель Сити» (1 этаж)
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                  .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_uralskaya@1mf.ru
                .objects-body__item-infos.is-row.is-row--null
                  .objects-body__item-info.is-col.is-col__xs-12 Ежедневно: 10:00 до 20:00 #[span.text--grey (без перерыва)]
      .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12.objects-right
        .objects-map
          script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
          #map
        .objects-btn
          a.btn.btn__lg.btn--warning(href='#') Найти ближайший салон
