#recall-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-header.popup-body.text--center
      h3.light Получить консультацию по рассрочке
    .white-popup-notice.popup-body.bg--grey.text--center
      span.light Наш специалист перезвонит вам и вы вместе закончите заполнять заявку на рассрочку
    .white-popup-body.popup-body
      form(action="" method="method")
        .form__group
          +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
        .form__group.form__group--lg
          +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
        .form__group.form__group--lg.text--center
          +fieldRadio('suc1', 'success1', 'Я даю согласие на обработку данных', false)
        .form__group.text--center
          .is-col__sm-6.centered-block
            button.btn.btn--full.btn__md.btn--primary(type='submit') Получить консультацию


#login-id.mfp-hide.white-popup
    a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
    .white-popup-header.popup-body.text--center
      h3.light Вход в личный кабинет
    .white-popup-body.popup-body
      form(action="" method="method")
        .form__group
          +fieldInput('text', 'name', 'Логин', 'Белоусов Ян Аристархович', true)
        .form__group.form__group--lg
          +fieldInput('password', 'name', 'Пароль', '+7 (905) 123-45-78', true)
        .form__group.form__group--lg.text--center
          .is-col__sm-6.centered-block
            button.btn.btn--full.btn__md.btn--primary(type='submit') Войти
        .form__group.text--center
          ul.list--inline
            li: a.text--primary(href='#') Регистрация
            li: a.text--grey(href='#') Забыли пароль?

            
#letter-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Написать руководителю
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Оставьте свои контактные данные. Мы внимательно изучим Ваше сообщение и свяжемся с Вами.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш E-mail', 'info@mail.ru', true)
      .form__group.form__group--lg
        +fieldTextarea('letter', 'Ваше сообщение', 'Сообщение...', 8, false)
      .form__group.form__group--lg.text--center
        +fieldRadio('suc2', 'success2', 'Я даю согласие на обработку данных', false)
      .form__group.text--center
        .is-col__sm-6.centered-block
          button.btn.btn--full.btn__md.btn--primary(type='submit') Отправить

            
#calculating-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Расчет цены под свой размер
  .white-popup-catalog
    .catalog__item-name.catalog__item-name--left Токио
    .catalog__item-img
      img(src='images/catalog-1.jpg', alt='')
      .catalog__item-info.is-row.stretch__xs
        .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
          .catalog__item-info-title Кухня «Токио»
        .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Выберите планировку кухни и размер кухонного гарнитура. Наш специалист позвонит вам и назовет стоимость работ.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group.form__group--bb
        label.label--lg 1. Укажите интервал ориентировочной цены, руб.
        .form-row.is-row.middle__xs.between__xs
          .form-col
            span От
          .form-col.is-col__md-3.is-col__xs-6
            input.control(type='text', placeholder='10 000 000')
          .form-col
            span руб.
          .form-col
            span.text--grey ...
          .form-col
            span до
          .form-col.is-col__md-3.is-col__xs-6
            input.control(type='text', placeholder='10 000 000')
          .form-col
            span руб.
      .form__group.form__group--bb
        label.label--lg 2. Планировка кухни
        .is-row
          .is-col.is-col__xs-3.text--center
            img(src="images/card-type-1.png", alt='')
            p.margtop30 Прямая
          .is-col.is-col__xs-3.text--center
            img(src="images/card-type-2.png", alt='')
            p.margtop30 Угловая
          .is-col.is-col__xs-3.text--center
            img(src="images/card-type-3.png", alt='')
            p.margtop30 П - образная
        .is-row.margtop30
          .is-col.is-col__xs-6
            p.margbot30 Длина кухни по стенкам, мм
            .form-row.is-row
              .form-col.is-col.is-col__xs-6
                input.control.number--js(type='text', placeholder='9 000')
              .form-col.is-col.is-col__xs-6
                input.control.number--js(type='text', placeholder='7 000')
          .is-col.is-col__xs-6
            p.margbot30 Высота потолка
            .form-row.is-row
              .form-col.is-col.is-col__xs-6
                input.control.number--js(type='text', placeholder='4 000')
      .form__group.form__group--bb
        label.label--lg 3. Планируемая техника
        .is-row
          .is-col.is-col__md-6.is-col__xs-12
            .form__group
              +fieldCheckbox('Холодильник', 'tech1', false)
            .form__group
              .checkbox
                  input(type="checkbox", id='tech2', checked)
                  label(for='tech2') 
                    | Плита
                    .text__sm.label-add
                      a.text--grey(href='#') Встраиваемая
                      | &nbsp;
                      a.text--primary(href='#') Отдельно стоящая
            .form__group
              +fieldCheckbox('Посудомоечная машина', 'tech3', false)
          .is-col.is-col__md-6.is-col__xs-12
            .form__group
              +fieldCheckbox('Стиральная   машина', 'tech4', false)
            .form__group
              +fieldCheckbox('Вытяжка', 'tech5', false)
            .form__group
              +fieldCheckbox('Другая техника', 'tech6', false)
      .form__group.form__group--bb
        label.label--lg 4. Ваш город
        select.control
          option Санкт-Петербург
          option Санкт-Петербург
          option Санкт-Петербург
      .form__group.form__group--bb
        label.label--lg 5. Выберите ближайший к вам салон
        select.control
          option Московский, 79
          option Московский, 79
          option Московский, 79
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш E-mail', 'info@mail.ru', true)
      .form__group
        +fieldInput('text', 'name', 'Номер вашего телефона', '+7 (905) 123-45-78', true)
      .form__group.form__group--lg.text--center
        +fieldRadio('suc2', 'success2', 'Я даю согласие на обработку данных', false)
      .is-row
        .is-col.is-col__sm-6.form__group
          .input__file
            button.btn.btn--full.btn__md.btn--outlined.input__name-js Прикрепить чертеж
            input.input__file-js(type="file")
        .is-col.is-col__sm-6.form__group
          button.btn.btn--full.btn__md.btn--primary(type='submit') Рассчитать стоимость

            
#vacancies-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Откликнуться на вакансию
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Оставьте свои контактные данные. Мы внимательно изучим Ваш отклик и свяжемся с Вами в ближайшее время
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш E-mail', 'info@mail.ru', true)
      .form__group.form__group--lg
        +fieldTextarea('letter', 'Ваше сообщение', 'Сообщение...', 8, false)
      .form__group.form__group--lg.text--center
        +fieldRadio('suc3', 'success3', 'Я даю согласие на обработку данных', false)
      .is-row
        .is-col.is-col__sm-6.form__group
          .input__file
            button.btn.btn--full.btn__md.btn--outlined.input__name-js Прикрепить файл
            input.input__file-js(type="file")
        .is-col.is-col__sm-6.form__group
          button.btn.btn--full.btn__md.btn--primary(type='submit') Отправить

            
#call-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Вызвать мобильный салон
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Оставьте свои контактные данные и укажите удобную дату. Мы вам перезвоним и договоримся о времени и дате, когда к вам приедут наши специалисты.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш E-mail', 'info@mail.ru', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш адрес', 'Московский проспект, ул. Ленина 35', true)
      .form__group.form__group--lg
        label Желаемая дата и время визита
        .form-row.is-row
          .form-col.is-col__md-3.is-col__xs-12
            p Месяц
            select.control
              option Сентябрь
              option Сентябрь
              option Сентябрь
              option Сентябрь
          .form-col.is-col__md-2.is-col__xs-6
            p Дата
            select.control
              option 1
              option 2
              option 10
              option 20
          .form-col.is-col__md-2.is-col__xs-6
            p Время
            input.control(type='text', placeholder='10:20')
      .form__group.form__group--lg.text--center
        +fieldRadio('suc4', 'success4', 'Я даю согласие на обработку данных', false)
      .form__group.text--center
        .is-col__sm-6.centered-block
          button.btn.btn--full.btn__md.btn--primary(type='submit') Вызвать мобильный салон

            
#sign-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Записаться в салон
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Мы перезвоним вам и договоримся об удобной дате, когда вы посетите наш салон.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group.form__group--lg
        label Желаемая дата и время визита
        .form-row.is-row
          .form-col.is-col__md-3.is-col__xs-12
            p Месяц
            select.control
              option Сентябрь
              option Сентябрь
              option Сентябрь
              option Сентябрь
          .form-col.is-col__md-2.is-col__xs-6
            p Дата
            select.control
              option 1
              option 2
              option 10
              option 20
          .form-col.is-col__md-2.is-col__xs-6
            p Время
            input.control(type='text', placeholder='10:20')
      .form__group.form__group--lg.text--center
        +fieldRadio('suc5', 'success5', 'Я даю согласие на обработку данных', false)
      .form__group.text--center
        .is-col__sm-6.centered-block
          button.btn.btn--full.btn__md.btn--primary(type='submit') Записаться в салон

            
#design-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Вызвать дизайнера
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Оставьте свои контактные данные. Мы свяжемся с вами и договоримся о приезде нашего специалиста. Замеры производятся с 9:00 до 21:00 ежедневно, включая субботу и воскресенье. Дизайнер привезет образцы материалов и на месте подготовит проект планировки.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group.form__group--lg
        label Желаемая дата и время визита
        .form-row.is-row
          .form-col.is-col__md-3.is-col__xs-12
            p Месяц
            select.control
              option Сентябрь
              option Сентябрь
              option Сентябрь
              option Сентябрь
          .form-col.is-col__md-2.is-col__xs-6
            p Дата
            select.control
              option 1
              option 2
              option 10
              option 20
          .form-col.is-col__md-2.is-col__xs-6
            p Время
            input.control(type='text', placeholder='10:20')
      .form__group.form__group--lg.text--center
        +fieldRadio('suc6', 'success6', 'Я даю согласие на обработку данных', false)
      .form__group.text--center
        .is-col__sm-6.centered-block
          button.btn.btn--full.btn__md.btn--primary(type='submit') Вызвать дизайнера

            
#booking-id.mfp-hide.white-popup
  a.popup-close.popup-modal-dismiss(href="#"):  i.is-icons.is-icons--close
  .white-popup-header.popup-body.text--center
    h3.light Забронировать кухню по распродаже
  .white-popup-notice.popup-body.bg--grey.text--center
    span.light Оставьте свои контактные данные и укажите удобную дату. Мы вам перезвоним и договоримся о времени и дате, когда к вам приедут наши специалисты.
  .white-popup-body.popup-body
    form(action="" method="method")
      .form__group
        +fieldInput('text', 'name', 'ФИО', 'Белоусов Ян Аристархович', true)
      .form__group
        +fieldInput('text', 'name', 'Ваш телефон', '+7 (905) 123-45-78', true)
      .form__group
        label Салон
        select.control
          option Московский проспект, ул. Ленина 35
          option Московский проспект, ул. Ленина 35
          option Московский проспект, ул. Ленина 35
      .form__group.form__group--lg
        label Желаемая дата и время визита
        .form-row.is-row
          .form-col.is-col__md-3.is-col__xs-12
            p Месяц
            select.control
              option Сентябрь
              option Сентябрь
              option Сентябрь
              option Сентябрь
          .form-col.is-col__md-2.is-col__xs-6
            p Дата
            select.control
              option 1
              option 2
              option 10
              option 20
          .form-col.is-col__md-2.is-col__xs-6
            p Время
            input.control(type='text', placeholder='10:20')
      .form__group.form__group--lg.text--center
        +fieldRadio('suc7', 'success7', 'Я даю согласие на обработку данных', false)
      .form__group.text--center
        .is-col__sm-6.centered-block
          button.btn.btn--full.btn__md.btn--primary(type='submit') Забронировать кухню
