section.types.hidden__sm.hidden__xs                       
  .container
    .title.text--center
      h3.light Изготовление кухонь на собственном #[br] производстве
      span Мы
    .types-desc.is-col__lg-8.centered-block
      p.text__lg «Первая мебельная» фабрика — предприятие с 70-летней историей. С 1945 года мыпроизводили различную мебель на заказ и в начале 2000-х сконцентрировали внимание наизготовлении кухонь. Ведь это место — источник тепла в доме. В 2014 году мыавтоматизировали 90% фабрики на основе швейцарских технологий. Таким образом мы гарантируем качественное производство без брака.
    .is-col__lg-9.centered-block
      .types-inner
        .types__item
          .types__item-num 1
          .types__item-txt Рыночный системный анализ в XXI веке
        .types__item
          .types__item-num 2
          .types__item-txt Рыночный системный анализ в XXI веке
        .types__item
          .types__item-num 3
          .types__item-txt Рыночный системный анализ в XXI веке
        .types__item
          .types__item-num 4
          .types__item-txt Рыночный системный анализ в XXI веке
        .types__item
          .types__item-num 5
          .types__item-txt Рыночный системный анализ в XXI веке
