//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  line-height: $base-line-height;
  
  font-size: $base-font-size * 0.8;
  @media screen and (min-width: $screen-tablet) {
    font-size: $base-font-size;
  }
}

//
// Link
//
a {
  color: $link-color;
  @include transition;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@mixin flex-mid() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-midcen() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin xxl-font($x: 100px) {
  font-size: $x * 0.25;
  @media screen and (min-width: $screen-tablet) {
    font-size: $x * 0.7;
  }
  @media screen and (min-width: $screen-desktop) {
    font-size: $x;
  }
}
@mixin xxxl-font($x: 200px) {
  font-size: $x * 0.25;
  @media screen and (min-width: $screen-tablet) {
    font-size: $x * 0.7;
  }
  @media screen and (min-width: $screen-desktop) {
    font-size: $x;
  }
}

@mixin marginTop($x: 100px) {
  margin-top: $x * 0.5;
  @media screen and (min-width: $screen-tablet) {
    margin-top: $x;
  }
}
@mixin marginBottom($x: 100px) {
  margin-bottom: $x * 0.5;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: $x;
  }
}

@mixin paddingTopBot($x: 100px) {
  padding-bottom: $x * 0.5;
  padding-top: $x * 0.5;
  @media screen and (min-width: $screen-tablet) {
    padding-top: $x;
    padding-bottom: $x;
  }
}

@mixin paddingTop($x: 100px) {
  padding-top: $x * 0.5;
  @media screen and (min-width: $screen-tablet) {
    padding-top: $x;
  }
}

@mixin paddingBot($x: 100px) {
  padding-bottom: $x * 0.5;
  @media screen and (min-width: $screen-tablet) {
    padding-bottom: $x;
  }
}


//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
