//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid transparent;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $base-line-height, $btn-border-radius-base);

  min-width: 160px;


  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }
  &-link {
    font-weight: 700;
    font-family: 'CirceBold';
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 3px solid $base-color-main;
    @include transition();
    &:hover {
      border-color: $gray;
    }
  }
  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }
  &--width {
    width: 280px;
  }

  &--natural {
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }

  // Button with icon
  &__icon {
    position: relative;
    i {
      vertical-align: middle;
      margin-right: 5px;
      font-size: 18px;
    }
  }

  &--default {
    @include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant-pr($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    &--success {
      @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &--info {
      @include button-variant-tr($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &--warning {
      @include button-variant-pr($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
    &--danger {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);

    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size(11px, $padding-large-horizontal, 16px, 1.5, $btn-border-radius-large);
      height: 50px;
      border-width: 2px;
      width: 100%;
      @media screen and (min-width: $screen-tablet) {
        @include button-size($padding-large-vertical, 40px, 20px, 1.7, $btn-border-radius-large);
        height: 90px;
        max-width: 340px;
        font-family: 'CirceBold';
      }
    }
    &__sm {
      @include button-size($padding-small-vertical, 17px, 13px, $line-height-btn, $btn-border-radius-small);
      height: 54px;
    }
    &__md {
      @include button-size(11px, $padding-small-horizontal, 18px, 1.7, $btn-border-radius-small);
      min-height: 54px;
      font-family: 'CirceRegular';
      @media screen and (min-width: $screen-tablet) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    &__xs {
      @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
      height: 35px;
    }
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
