//
// Base -> Print
// --------------------------------------------------

@media print {

  @page {
    margin: 1cm;
    size: A4 portrait;
  }

  *, ::before, ::after {
    box-shadow: none !important;
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links that are fragment identifiers,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  // Printing Tables:
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    filter: grayscale(100%);
    max-width: 100%;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  //
  // Avoid too large gaps before each new chapter
  //
  h1 {
    margin-top: 3rem;
  }


  //
  // Avoid breaking page right after a title
  //
  h1, h2, h3 {
    page-break-after: avoid;
  }

  // *
  // Hide any superfluous element
  //
  .popup,
  .page-header,
  .page-footer,
  .breadcrumbs,
  .title span,
  header,
  footer,
  .button,
  svg {
    display: none !important;
  }

  @include responsive-invisibility('.hidden--print');
}
