//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;


  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   { font-size: $font-size-h1; }
h2, .beta    {
  font-size: $font-size-h2 * 0.4;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h2 * 0.8;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h2;
  }
 }
h3, .gamma   {
  font-size: $font-size-h3 * 0.7;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3 * 0.8;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h3;
  }
  &.title--md {
    font-size: 46px * 0.5;
    font-family: 'CirceRegular';
    font-weight: 400;
    @media screen and (min-width: $screen-md-min) {
      font-size: 46px * 0.8;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 46px;
    }
  }
}
h4, .delta   {
  font-size: $font-size-h4;
  &.title--md {
    font-size: 30px * 0.6;
    font-family: 'CirceRegular';
    font-weight: 400;
    @media screen and (min-width: $screen-md-min) {
      font-size: 30px * 0.8;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 30px;
    }
  }
}
h5, .epsilon {
  font-size: $font-size-h5;
  &.title--md {
    font-size: 24px * 0.6;
    @media screen and (min-width: $screen-md-min) {
      font-size: 24px * 0.8;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 24px;
    }
  }
}
h6, .zeta    { font-size: $font-size-h6; }

.light {
  font-family: 'CirceRegular';
  font-weight: 400;
}
.bold {
  font-family: 'CirceBold';
  font-weight: 700;
}

// Body text
p { margin: 0 0 $line-height-computed-half; }

b {
    font-weight: 700;
    font-family: 'leto_sansbold';
  }

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }

sup {
  margin-top: -10px;
  font-size: 65%;
  vertical-align: top;
  display: inline-block;
}

// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__xs { font-size: $font-size-tiny; }
.text__sm { font-size: $font-size-small; }
.text__md {
  font-size: 11px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-medium;
  }
}
.text__lg {
  font-size: $font-size-large * 0.7;
  line-height: 1.5;
  @media screen and (min-width: $screen-tablet) {
    font-size: $font-size-large * 0.9;
  }
  @media screen and (min-width: $screen-desktop) {
    font-size: $font-size-large;
  }
 }


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--white', $white-lighten);
  @include text-emphasis-variant('.text--grey', $gray);
}

.bg {
  @each $name, $color in (
    white: $white-lighten,
    black: $black,
    primary: $base-color-main,
    grey: $gray-lighten,
  ) {
    &--#{$name} {
      background-color: $color;
    }
  }
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        color: $base-color-main;
        font-size: 20px;
        margin-right: 11px;
      }
    }
  }

  &--border {
    &__item {
      & + & {
        border-left: 1px solid $gray-lighten;
      }
    }
  }
}



// Blockquotes
blockquote {
  padding: 40px 0 0;
  margin: $line-height-computed 0;
  font-size: $blockquote-font-size;
  line-height: 1.6;
  position: relative;
  @media screen and (min-width: $screen-phone) {
    margin: $line-height-computed * 2 0;
  }

  &:before {
    content: '’’';
    font-size: 77px;
    line-height: 1;
    color: $base-color-main;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  p,
  ul,
  ol {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.blockquote {
    font-size: 16px;
    line-height: 1.8;
    padding: 0 0 0 15px;
    @media screen and (min-width: $screen-tablet) {
      font-size: 24px;
      padding: 0 0 0 50px;
    }
    &:before {
      content: '';
      width: 5px;
      height: 100%;
      background-color: $base-color-main;
      right: auto;
    }
  }
}
