//
// Partials -> advantages
// ------------------------------------


.advantages {
  .title {
    margin: 55px 0 10px;
    @media screen and (min-width: $screen-tablet) {
      @include marginTop(120px);
      @include marginBottom(120px);
    }
  }
  &-inner {

  }
  &__item {
    position: relative;
    &-info {
      color: $white-lighten;
      background-color: $color-type-6a;
      position: absolute;
      top: 0;bottom: 0;
      width: 29%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: $screen-phone) {
        width: 35%;
      }
      @media screen and (min-width: $screen-tablet) {
        width: 48%;
        // display: flex;
      }
      &--l {
        left: 0;
        // padding: 24px 0 14px 14px !important;
        padding-left: 14px !important;
        @media screen and (min-width: $screen-tablet) {
          // padding: 30px 0 30px 30px !important;
          padding-left: 30px !important;
        }
        @media screen and (min-width: $screen-desktop) {
          // padding: 60px 0 60px 60px !important;
          padding-left: 60px !important;
        }
        &::after {
          content: '';
          border: 50px solid transparent;
          border-bottom: 230px solid $color-type-6a;
          border-left: 0 solid $color-type-6a;
          position: absolute;
          right: -50px;
          bottom: 0;
          @media screen and (min-width: $screen-phone) {
            border-bottom: 384px solid $color-type-6a;
          }
          @media screen and (min-width: $screen-tablet) {
            border: 150px solid transparent;
            border-left: 0 solid $color-type-6a;
            border-bottom: 384px solid $color-type-6a;
            right: -150px;
          }
        }
      }
      &--r {
        right: 0;
        // padding: 24px 14px 14px 0 !important;
        padding-right: 14px !important;
        @media screen and (min-width: $screen-tablet) {
          // padding: 30px 30px 30px 0 !important;
          padding-right: 30px !important;
        }
        @media screen and (min-width: $screen-desktop) {
          // padding: 60px 60px 60px 30px !important;
          padding-right: 60px !important;
        }
        &::after {
          content: '';
          border: 50px solid transparent;
          border-bottom: 230px solid $color-type-6a;
          border-right: 0 solid $color-type-6a;
          position: absolute;
          left: -50px;
          bottom: 0;
          @media screen and (min-width: $screen-phone) {
            border-bottom: 384px solid $color-type-6a;
          }
          @media screen and (min-width: $screen-tablet) {
            border: 150px solid transparent;
            border-right: 0 solid $color-type-6a;
            border-bottom: 384px solid $color-type-6a;
            left: -150px;
          }
        }
      }
    }
    &-img {
      &--r {
        float: right;
      }
    }
    &-ico {
      margin-bottom: 20px;
      @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 15px;
        i {
          font-size: 12px;
        }
        img {
          height: 50px;
        }
      }
    }
    &-title {
      margin-bottom: 20px;
      position: relative;
      z-index: 11;
      @media screen and (max-width: $screen-sm-max) {
        width: 280px;
      }
      h4 {margin: 0;}
    }
    &-desc {
      line-height: 1.5;
      position: relative;
      z-index: 11;
      font-family: 'CirceRegular';
      @media screen and (max-width: $screen-md-max) {width: 330px;}
      @media screen and (max-width: $screen-sm-max) {
        .text__lg {
          font-size: 12px;
        }
        width: 280px;
      }
    }
  }
}
