//
// Partials -> Catalog
// ------------------------------------

.notice {
  text-transform: uppercase;
  width: 70px;
  height: 30px;
  line-height: 13px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: $white-lighten;
  text-align: center;
  @media screen and (min-width: $screen-tablet) {
    width: 120px;
    height: 60px;
    line-height: 40px;
  }

  &--default {
    background-color: #363e4a;
  }
  &--primary {
    background-color: $base-color-main;
  }
}

.filter {
  margin-bottom: 10px;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 40px;
  }
  &-inner {
    @include flex-mid();
    flex-wrap: wrap;
    &--start {
      justify-content: start;
    }
    &--center {
      justify-content: center;
    }
  }
  &__item {
    @include flex-midcen();
    flex-wrap: wrap;
    .checkbox {
      margin-right: 10px;
    }
    .control {
      min-width: 250px;
    }
    .control--nob {
      min-width: 200px;
    }
    @media screen and (max-width: $screen-sm-max) {
      // width: 49%;
    }
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.show-more {
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: -100px;
  }
}

.catalog {
  overflow: hidden;
  &-grand {
    @include paddingTopBot(60px);
    border-bottom: 1px solid $gray-lighten;
    h3 {
      margin-top: 0;
    }
  }
  &-inner {
    margin-bottom: 20px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
    }
    &--main {
      @include flex-mid();
      flex-wrap: wrap;
      margin: 0;
      .catalog__item {
        padding: 0;
        width: 100%;
        @media screen and (min-width: $screen-tablet) {
          width: calc(50% - 20px);
        }
      }
    }
  }
  &__item {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 0 25px;
    @media screen and (min-width: $screen-tablet) {
      margin: 0 10px 20px;
      padding: 90px 0;
    }
    &-img {position: relative;}
    &-name {
      font-size: 0;
      @media screen and (min-width: $screen-tablet) {
        color: $gray-lighten;
        white-space: nowrap;
        font-family: "leto_sansbold";
        @include xxxl-font(150px);
        line-height: 1;
        position: absolute;
        z-index: -1;
        &--left {
          bottom: 10px;
          left: 0;
        }
        &--right {
          top: 10px;
          left: 0;
        }
      }
    }
    &-info {
      min-height: 40px;
      position: absolute;
      bottom: 8px;
      left: 16px;
      right: 16px;
      @media screen and (min-width: $screen-tablet) {
        min-height: 90px;
        left: 50px;
        right: 50px;
        bottom: 35px;
      }
      &--high {
        @media screen and (max-width: $screen-sm-max) {
          position: relative;
          bottom: 30px;
          left: 0;
          right: 0;
        }
      }
      .btn {
        min-width: inherit;
        @media screen and (min-width: $screen-phone) {
          padding: 16px 40px;
        }
      }
      &-main {
        padding-left: 8px;
        padding-right: 8px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: $font-size-large * 0.7;
        background-color: $white-lighten;
        @media screen and (min-width: $screen-tablet) {
          padding-left: 15px;
          padding-right: 15px;
        }
        @media screen and (min-width: $screen-desktop) {
          font-size: $font-size-large;
          padding-left: 35px;
          padding-right: 45px;
        }
        &--loc {
          font-size: $base-font-size;
          padding: 20px 0 0;
          @media screen and (min-width: $screen-tablet) {
            padding: 40px 10px;
          }
          .card-main__info-line {
            padding: 8px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
          }
          .list--inline > li {
            vertical-align: middle;
          }
        }
      }
      &-sale {
        position: relative;
        align-items: center;
        display: flex;
        font-size: 16px;
        color: $white-lighten;
        background-color: $base-color-main;
        text-decoration: none;
        &:hover {
          color: inherit;
        }
        @media screen and (min-width: $screen-tablet) {
          font-size: 30px;
        }
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -20px;
          border: 20px solid transparent;
          border-right: 0 solid $base-color-main;
          border-bottom: 40px solid $base-color-main;
          @media screen and (min-width: $screen-tablet) {
            left: -70px;
            border: 70px solid transparent;
            border-right: 0 solid $base-color-main;
            border-bottom: 90px solid $base-color-main;
          }
        }
        &--fur {
          height: 40px;
          position: absolute;
          bottom: 0;right: 0;
          z-index: 11;
          @media screen and (min-width: $screen-tablet) {
            height: 90px;
          }
        }
      }
      &-title {
        text-align: left;
        span + span {
          margin-left: 20px;
        }
        .text__sm {
          display: none;
          @media screen and (min-width: $screen-tablet) {
            display: block;
          }
        }
      }
      &-desc {
        text-align: left;
        span {padding: 0 10px;}
        span + span {
          border-left: 1px solid $gray-lighten;
        }
      }
      &-txt {
        width: 60%;
      }
    }
    &--default {
      padding: 0;
      .catalog__item-info-sale {
        font-size: $font-size-large;
        background-color: $black;
        text-decoration: none;
        padding: 0;
        justify-content: center;
        span {
          display: none;
          @media screen and (min-width: $screen-tablet) {
            display: block;
          }
        }
        img {
          @media screen and (min-width: $screen-tablet) {
            display: none;
          }
        }
        &::before {
          border-right: 0 solid $black;
          border-bottom: 40px solid $black;
          @media screen and (min-width: $screen-tablet) {
            border-bottom: 90px solid $black;
          }
        }
      }
    }
    &--mnull {
      margin-bottom: 0;
    }
    &--grey {
      padding: 0;
      .catalog__item-info-sale {
        color: $black;
        font-size: 14px;
        background: #cecfd4;
        justify-content: center;
        @media screen and (min-width: $screen-tablet) {
          justify-content: start;
        }
        &::before {
          border-right: 0 solid #cecfd4;
          border-bottom: 40px solid #cecfd4;
          @media screen and (min-width: $screen-tablet) {
            border-bottom: 90px solid #cecfd4;
          }
        }
        span {
          display: none;
          @media screen and (min-width: $screen-tablet) {
            display: block;
          }
        }
        img {
          @media screen and (min-width: $screen-tablet) {
            display: none;
          }
        }
      }
    }
    &--clients {
      .catalog__item-info {
        @include flex-mid();
      }
    }
    &--sm {
      padding: 10px;
      margin: 0;
      border: 1px solid $gray-lighten;
      .catalog__item-info-sale {
        font-size: $font-size-large * 0.9;
        justify-content: center;
        @media screen and (min-width: $screen-desktop) {
          font-size: $font-size-large;
        }
        img {
          @media screen and (min-width: $screen-tablet) {
            display: none;
          }
        }
        span {
          display: none;
          @media screen and (min-width: $screen-tablet) {
            display: block;
          }
        }
      }
    }
  }

  &-all {
    @include paddingTopBot();
    border-bottom: 1px solid $gray-lighten;
    &-inner {
      @include paddingTop(80px);
    }
    &__item {
      // display: flex;
      position: relative;
      display: block;
      border: 1px solid $white-lighten;
      &-img {

      }
      &-name {
        position: absolute;
        top: 0;bottom: 0;right: 0;left: 0;
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-lighten;
      }
    }
  }
}
.price {
  &-old {
    color: $gray;
    font-size: $font-size-medium * 0.6;
    text-decoration: line-through;
    @media screen and (min-width: $screen-tablet) {
      font-size: $font-size-medium;
    }
  }
  &-new {
    font-size: $font-size-large * 0.6;
    @media screen and (min-width: $screen-tablet) {
      font-size: $font-size-large;
    }
  }
  span + span {
    margin-left: 20px;
  }
}
