//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  border-top: 2px solid $gray-lighten;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $screen-tablet) {
      width: 20%;
    }
  }
  .line--projects-l {
    top: 0;
    left: 0;
    bottom: auto;
  }
  .line--projects-r {
    left: 76%;
  }
}
.logo {
  &-footer {
    font-family: 'CirceRegular';
    font-size: 14px;
    color: $gray;
    margin-top: 40px;
  }
  &-cloud {
    font-family: 'CirceRegular';
    @extend .text--grey;
    margin-top: auto;
    img {
      vertical-align: baseline;
    }
    @media screen and (max-width: $screen-sm-max) {
      padding-top: 20px;
      border-top: 2px solid $gray-lighten;
      text-align: center;
    }
  }
}
.footer-nav {
  padding: 0;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 30px;
    max-width: 200px;
  }
  @media screen and (max-width: $screen-sm-max) {
    max-height: 42px;
    margin: 0;
    overflow: hidden;
    @include transition();
    &.active {
      max-height: 400px;
    }
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-lighten;
    }
    &--title {
      padding: 10px;
      background: url('../images/icons/arr-d.svg') no-repeat center right 10px;
      @media screen and (min-width: $screen-tablet) {
        background: none;
        padding: 0;
        margin-bottom: 25px;
        border: none !important;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      cursor: pointer;
    }
  }
  &__link {
    font-size: 14px;
    font-family: 'CirceRegular';
    text-decoration: none;
    @include work-link();
    display: block;
    padding: 10px;
    @media screen and (min-width: $screen-tablet) {
      padding: 10px 0;
    }
    &:hover {
      color: $gray-darken-2;
    }
  }
  .btn {
    font-family: 'CirceRegular';
  }
}

.send-email {
  margin-top: auto;
}

.social {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 16px;
  @media screen and (min-width: $screen-tablet) {
    margin-left: -6px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    @media screen and (min-width: $screen-tablet) {
      margin: 0 6px;
    }
  }
  &__link {
    width: 41px;
    height: 41px;
    padding: 11px 9px;
    // line-height: 45px;
    text-align: center;
    background-color: $gray;
    @include border-radius(41px);
    display: block;
    &:hover {
      background-color: darken($gray, 10%);
    }
  }
}
