//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  border-bottom: 1px solid $gray-lighten;
  @include flex-mid();
  &--nob {
    border-bottom: none;
  }
  @media screen and (min-width: $screen-tablet) {
    overflow: hidden;
    display: block;
  }
  &__logo {
    @include flex-mid();
    align-self: stretch;
    padding-top: 12px;
    padding-bottom: 12px;
    @media screen and (min-width: $screen-tablet) {
      border-right: 1px solid $gray-lighten;
    }
    &-nav {
      display: flex;
      align-items: center;
    }
    .is-icons {
      vertical-align: text-bottom;
    }
    a {
      text-decoration: none;
      margin-top: -3px;
    }
    img {
      vertical-align: middle;
      height: 18px;
      @media screen and (min-width: $screen-tablet) {
        height: auto;
      }
    }
  }
  &__navbar {
    &-top {
      position: relative;
      @include flex-mid();
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $gray-lighten;
        position: absolute;
        bottom: -1px;
        left: 0;
        @media screen and (min-width: $screen-tablet) {
          width: 150%;
          left: -20px;
        }
      }
    }
    &-bot {
      display: flex;
      justify-content: space-between;
      align-self: stretch;
    }
  }
  &__search {
    @include flex-mid();
    @media screen and (max-width: $screen-sm-max) {
      display: none;
    }
    .search {
      width: 36px;
      height: 36px;
      display: block;
      line-height: 43px;
      text-align: center;
      background-color: $gray-lighten;
      @include border-radius(36px);
    }
  }
  &__city {
    .name {
      display: inline-block;
      font-size: $font-size-small;
      border-bottom: 1px dotted $black;
      font-family: 'CirceRegular';
    }
    .phone {
      font-size: 18px;
      font-family: 'CirceBold';
    }
  }
  &__phone {
    padding: 0 10px;
    @include flex-mid();
    align-self: stretch;
  }
}

//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
