//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

.relative {
  position: relative;
}

main {
  overflow: hidden;
}

.m-auto {
  margin-top: auto;
}


.form-row {
  margin-left: -8px;
  margin-right: -8px;
}
.form-col {
  padding-left: 8px;
  padding-right: 8px;
}


//page mini
.news {
  @include paddingBot(60px);
  @include marginBottom(160px);
  border-bottom: 1px solid #f3f3f3;
}
.onenews {
  h3, h4 {
    @include marginBottom(60px);
  }
  &__item {
    @include marginTop();
    @include marginBottom();
  }
  &-lists {
    &__item {
      margin-bottom: 20px;
      border: 1px solid $gray-lighten;
    }
    &__desc {
      padding: 10px;
      @media screen and (min-width: $screen-tablet) {
        padding: 15px 30px;
      }
    }
  }
}
.soc {
  &__link {
    padding: 7px 10px;
    border: 2px solid #bfbfbf;
    text-decoration: none;
    color: #bfbfbf;
    span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #bfbfbf;
    }
    i, span {vertical-align: middle;}
  }
}
.search {
  &-bar {
    &-inner {
      position: relative;
      button {
        position: absolute;
        top: 0;bottom: 0;
        margin: auto;
        right: 10px;
        min-width: inherit;
        background: transparent;
        font-size: 10px;
        @media screen and (min-width: $screen-tablet) {
          font-size: 16px;
        }
      }
    }
  }
}
.vacancies {
  @include paddingTopBot();
  &-block {
    &__item {
      @media screen and (max-width: $screen-sm-max) {
        h3 {
          font-size: 16px;
          font-weight: 400;
          font-family: 'leto_sansregular';
        }
        .bg--grey {
          background-color: transparent;
        }
        .designers-info--once .designers-info__img {
          width: 35%;
          padding: 8px;
        }
        .designers-info--once .designers-info__adr {
          width: 65%;
          padding: 8px;
        }
        .btn  {
          min-width: inherit;
          span {
            display: none;
          }
        }
      }
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 80px;
      }
    }
  }
  &-br {
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 50px;
    }
  }
}
.cost-services {
  @include paddingTopBot();
  &__items {
    @include flex-mid();
    flex-wrap: wrap;
    margin: 60px 0;
  }
  &__item {
    padding: 25px 10px;
    max-width: 310px;
    width: 100%;
    background-color: $gray-lighten;
    @media screen and (min-width: $screen-tablet) {
      max-width: 264px;
    }
  }
  h3 {
    font-family: 'CirceRegular';
    font-weight: 400;
  }
}
.designers {
  background-color: $gray-lighten;
  @include paddingTopBot();
  .title span {
    color: $white-lighten;
  }
}
.pay {
  text-align: center;
  @include paddingTopBot();
  h3 {
    font-family: 'CirceRegular';
  }
}
.cabinet {
  &-elem {
    @include marginBottom(80px);
    h4 {
      @include marginBottom(50px);
    }
  }
}
//page mini

.title {
  position: relative;
  margin: 55px 0 10px;
  @media screen and (min-width: $screen-tablet) {
    margin: 55px 0;
  }
  h3 {
    position: relative;
    z-index: 1;
  }
  h2 {
    position: relative;
    z-index: 1;
    line-height: 1;
  }
  span {
    color: $gray-lighten;
    font-family: "leto_sansbold";
    // @include xxxl-font();
    font-size: 100px;
    position: absolute;
    left: -10%;right: -10%;
    line-height: 1;
    top: -36px;
    z-index: -1;
    margin: auto;
    white-space: nowrap;
    @media screen and (min-width: $screen-tablet) {
      left: 0;right: 0;
      font-size: 200px;
      top: -70px;
      z-index: 0;
    }
  }
  &--mid {
    margin: 40px 0 10px;
    @media screen and (min-width: $screen-tablet) {
      margin: 80px 0;
    }
    span {
      @media screen and (min-width: $screen-tablet) {
        top: -85px;
      }
    }
  }
  &-bfg {
    position: relative;z-index: 1;
    span {
      color: #e5e3e3;
      font-family: "leto_sansbold";
      font-size: 100px;
      position: absolute;
      left: -10%;right: -10%;
      line-height: 1;
      top: -30px;
      z-index: 0;
      margin: auto;
      white-space: nowrap;z-index: -1;
      @media screen and (min-width: $screen-tablet) {
        left: 10%;right: 0;
        font-size: 200px;
        top: -110px;
      }
    }
  }
}
.accordion {
  &__item {
    border: 1px solid $gray-lighten;
    h3 {margin: 0;}
    &-header {
      @include flex-mid();
      padding: 15px 8px;
      @media screen and (min-width: $screen-tablet) {
        padding: 60px;
      }
      i {
        font-size: 10px;
        @include transition();
      }
      .active i {
        transform: rotate(90deg);
      }
    }
    &-body {
      display: none;
      padding: 0 8px 15px;
      @media screen and (min-width: $screen-tablet) {
        padding: 0 60px 60px;
      }
      &.active {
        display: block;
      }
    }
  }
}

.marbot0 {
  margin-bottom: 0;
}

.margbot30 {
  margin-bottom: 30px;
}
.margtop30 {
  margin-top: 30px;
}
.margtop100 {
  margin-top: 30px;
  @media screen and (min-width: $screen-tablet) {
    margin-top: 100px;
  }
}
.margbot80 {
  margin-bottom: 30px;
  @media screen and (min-width: $screen-tablet) {
    margin-bottom: 80px;
  }
}

.variants {
  @include paddingTopBot();
  &-inner {
    // margin: 50px 0;
    @include paddingTop();
    @include marginBottom();
  }
  &__item {
    display: flex;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 0;
    }
  }
  &-num {
    font-size: 42px;
    color: $base-color-main;
    margin-right: 15px;
    @media screen and (min-width: $screen-tablet) {
      font-size: 72px;
      margin-right: 70px;
    }
  }
  &-txt {

  }
}

.fur-info {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  @media screen and (min-width: $screen-tablet) {
    padding-top: 100px;
    padding-bottom: 200px;
    &--md {
      padding-bottom: 70px;
    }
  }
  &-inner {
    box-shadow: 0 5px 21px rgba(0, 0, 0, 0.09);
    border: 1px solid #f3f3f3;
    background: #ffffff;
    padding: 20px 10px;
    position: relative;
    @media screen and (min-width: $screen-phone) {
      background: url('../images/icons/decor-1.svg') no-repeat top 40px left 40px, url('../images/icons/decor-2.svg') no-repeat bottom 40px right 40px, #ffffff;
      padding: 50px;
    }
    @media screen and (min-width: $screen-tablet) {
      padding: 100px 200px;
    }
    h3 {
      font-weight: 400;
      font-family: 'CirceRegular';
      @media screen and (min-width: $screen-tablet) {
        font-size: 46px;
      }
    }
    h4 {
      font-weight: 400;
      font-family: 'CirceRegular';
      @media screen and (min-width: $screen-tablet) {
        font-size: 28px;
      }
    }
    @media screen and (min-width: $screen-tablet) {
      &::after {
        content: '';
        width: 90%;
        height: 20px;
        border: 1px solid $gray-lighten;
        position: absolute;
        left: 0;right: 0;bottom: -20px;
        margin: auto;
      }
      &::before {
        content: '';
        width: 80%;
        height: 40px;
        border: 1px solid $gray-lighten;
        position: absolute;
        left: 0;right: 0;bottom: -40px;
        margin: auto;
      }
    }
    &--pure {
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 70px;
      }
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
.menu-catalog {
  &__item {
    & + & {
      border-top: 1px solid $gray-lighten;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 15px 0;
    height: 80px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__ico {
    width: 60px;
  }
}
.partners-list {
  @include marginTop(120px);
  h3 {
    @include marginBottom(60px);
  }
}

.calc {
  @include marginTop();
  &-form {
    @include paddingTopBot();
  }
  &-estimate {
    @include marginBottom(40px);
    border-bottom: 2px solid #d5d5d5;
    p {
      margin: 0;
    }
    &__main {
      border-bottom: 1px solid #d5d5d5;
      @include paddingTopBot(40px);
    }
    &__optional {
      @include paddingTopBot(40px);
      &-elem {
        padding: 10px 0;
        & + & {
          border-top: 1px solid #d5d5d5;
        }
      }
    }
  }
}

.masterTooltip {
  cursor: pointer;
  display: inline-block;
  color: $base-color-main;
  border-bottom: 1px dotted $base-color-main;
}
.tooltip {
	display:none;
	position:absolute;
	border:1px solid $gray-lighten;
	background-color:$white-lighten;
	padding: 5px 10px;
	color:$black;
}

#map {
  height: 400px;
  @media screen and (min-width: $screen-tablet) {
    height: 860px;
  }
}


.shadow {
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.65);
}
