//
// Partials -> Aside
// ------------------------------------


.objects {
  border-top: 1px solid $gray-lighten;
  border-bottom: 1px solid $gray-lighten;
  &-header {
    .control {
      background-color: $gray-lighten;
      border: none;
      height: 100%;
      color: $black;
    }
  }
  &-body {
    &-inner {
      overflow-y: auto;
      height: 400px;
      @media screen and (min-width: $screen-tablet) {
        height: 770px;
      }
    }
    &__item {
      padding: 10px;
      border-bottom: 1px solid $gray-lighten;
      @media screen and (min-width: $screen-tablet) {
        padding: 35px 40px;
      }
      @media screen and (min-width: $screen-desktop) {
        padding: 35px 90px;
      }
      &-subway {
        @extend .text__sm;
        display: flex;
        align-items: center;
        color: $gray;
        font-family: 'CirceRegular';
        .ico {
          width: 12px;
          height: 12px;
          margin-right: 10px;
          @include border-radius(12px);
          &--blue {
            background-color: #097bd1;
          }
          &--green {
            background-color: #00a332;
          }
          &--red {
            background-color: #f61938;
          }
        }
      }
      &-address {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      &-infos {
        @extend .text__sm;
        padding: 17px 0;
        & + & {
          border-top: 1px solid $gray-lighten;
        }
      }
      &-info {
      }
    }
  }
  &-right {
    position: relative;
  }
  &-btn {
    position: absolute;
    bottom: 0;right: 0;
    z-index: 1;
  }
  &-map {

  }
}
.location-link {
  text-decoration: none;
  color: $base-color-main;
  i {
    color: $base-color-main;
  }
  span {
    border-bottom: 1px dotted $base-color-main;
  }
  &:hover span {
    border-color: transparent;
  }
}
