//
// Partials -> Aside
// ------------------------------------


.popup {
  &--vert {
    position: fixed;
    right: -110px;
    top: 40%;
    z-index: 101;
    transform: rotate(-90deg);
    span, i {
      vertical-align: middle;
      margin: 0 6px;
    }
    i {
      font-size: 22px;
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &--horiz {
    width: 230px;
    position: fixed;
    bottom: 0;right: 0;
    padding: 50px 30px;
    z-index: 101;
    background-color: #cecfd4;
    box-shadow: 4px 6px 43px rgba(0, 0, 0, 0.34);
  }
  &-close {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
