//
// Partials -> projects
// ------------------------------------


.projects {
  border-top: 2px solid $gray-lighten;
  border-bottom: 2px solid $gray-lighten;
  &-left {
    padding: 30px 20px;
    border-bottom: 2px solid $gray-lighten;
    position: relative;
    text-align: center;
    // background: url('../images/line-r.svg') no-repeat bottom right;
    @media screen and (min-width: $screen-tablet) {
      text-align: left;
      padding: 60px 20px;
    }
    @media screen and (min-width: $screen-desktop) {
      padding: 90px 90px 90px 0;
      border-bottom: none;
      border-right: 2px solid $gray-lighten;
    }
    &--nob {
      border: none;
    }
  }
  &-right {
    padding: 20px 8px;
    text-align: center;
    position: relative;
    // background: url('../images/line-l.svg') no-repeat bottom left;
    @media screen and (min-width: $screen-phone) {
      padding: 30px 20px;
    }
    @media screen and (min-width: $screen-tablet) {
      text-align: left;
      padding: 60px 20px;
    }
    @media screen and (min-width: $screen-desktop) {
      padding: 90px 20px;
    }
  }
  &-txt {
    line-height: 1.5;
    p {
      letter-spacing: 1px;
      margin-bottom: 20px;
      font-family: 'CirceRegular';
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 60px;
      }
    }
  }
  &-bg {
    @media screen and (min-width: $screen-tablet) {
      padding: 20px;
    }
  }
}

.term {
  color: $base-color-main;
  font-family: 'leto_sansbold';
  position: relative;
  text-transform: uppercase;
  line-height: 1;
  text-align: right;
  @media screen and (min-width: $screen-tablet) {
    padding-right: 80px;
  }
  &-txt {
    text-align: left;
    position: absolute;
    left: 0;
    top: 10%;
  }
  &-num {
    font-size: 210px;
    span {
      font-size: 95px;
    }
  }
  &-day {
    font-size: 135px;
    letter-spacing: 37px;
  }
  &-off {
    font-size: 58px;
  }
  &-logo {
    display: none;
    @media screen and (min-width: $screen-tablet) {
      display: block;
      position: absolute;
      top: 115px;
      right: 0;
    }
  }
}

.line {
  display: none;
  @media screen and (min-width: $screen-desktop) {
    display: block;
    img {
      max-width: none;
    }
    &--projects {
      &-l {
        position: absolute;
        z-index: -1;
        bottom: 0;right: 0;
      }
      &-r {
        position: absolute;
        z-index: -1;
        bottom: 0;left: 60%;
      }
      &-t {
        position: absolute;
        z-index: -1;
        top: 0;left: 0;
      }
      &-b {
        position: absolute;
        z-index: -1;
        top: 20%;right: 0;
      }
    }
  }
}
