//
// Partials -> Slide
// ------------------------------------

.banner {
  position: relative;
  @media screen and (min-width: $screen-tablet) {
    background: url('../images/back.png') no-repeat center bottom / cover;
    padding-bottom: 150px;
  }
  &::before {
    content: '';
    background: $white-lighten;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;left: 0;right: 0;
  }
}
.slideshow {
  &__item {
    position: relative;
    overflow: hidden;
    &-r {
      float: right;
      position: relative;
    }
    &-l {
      z-index: 11;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      color: $white-lighten;
      background: $base-color-main;
      padding-left: 25px;
      padding-top: 25px;
      @media screen and (min-width: $screen-tablet) {
        padding-left: 80px;
        padding-top: 150px;
        padding-right: 80px;
        overflow: hidden;
      }
      @media screen and (min-width: $screen-desktop) {
        overflow: visible;
        padding-right: 0;
      }
      .btn__lg {
        font-size: 16px;
        line-height: 2.2;
        span {
          vertical-align: middle;
        }
        i {
          font-size: 9px;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
      &:after {
        content: '';
        border: 50px solid transparent;
        border-left: 0 solid $base-color-main;
        border-top: 236px solid $base-color-main;
        right: -50px;
        position: absolute;
        top: 0;
        z-index: 0;
        @media screen and (min-width: $screen-phone) {
          border: 150px solid transparent;
          border-left: 0 solid $base-color-main;
          border-top: 562px solid $base-color-main;
          right: -150px;
        }
        @media screen and (min-width: $screen-tablet) {
          display: none;
        }
        @media screen and (min-width: $screen-desktop) {
          display: block;
          border: 600px solid transparent;
          border-left: 0 solid $base-color-main;
          border-top: 887px solid $base-color-main;
          right: -600px;
        }
      }
    }
    &-title {
      font-family: 'leto_sansbold';
      @include xxl-font();
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 40px;
      span {
        @include xxxl-font(160px);
        display: block;
      }
    }
    &-adv {
      position: absolute;
      right: 8px;
      bottom: 8px;
      z-index: 11;
      @media screen and (min-width: $screen-tablet) {
        right: -26%;
        bottom: 185px;
      }
      @media screen and (min-width: $screen-desktop) {
        left: 0;
        right: auto;
      }
      img {
        max-width: none;
      }
    }
  }
}

.const {
  @include marginBottom();
  position: relative;
  border-bottom: 2px solid $gray-lighten;
  &-img {
    margin-top: -150px;
  }
  &-btn {
    position: absolute;
    left: 0;right: 0;
    bottom: -40px;
  }
}

.slider-project {
  // display: inline-block;
}
