//
// Partials -> Aside
// ------------------------------------


.types {
  @include marginTop(150px);
  @include marginBottom(150px);
  &-inner {
    @include marginTop(100px);
    display: flex;
    justify-content: space-between;
  }
  &__item {
    @extend .is-col__xs-2;
    &-num {
      font-family: 'CirceBold';
      color: $base-color-main;
      font-size: 72px;
    }
    &-txt {
      margin-top: 30px;
    }
  }
}
