//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    border-bottom: 1px solid $gray-lighten;
    // padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    // margin-bottom: $line-height-computed;
    list-style: none;
    // @include marginTop(60px);
    @media screen and (max-width: $screen-sm-max) {
      // font-size: 14px;
      display: none;
    }
    &-inner {
      margin: 0;
      @include paddingTop(40px);
      @include paddingBot(40px);
    }

    &__item {
      display: inline-block;
      margin: 0 5px;
      & + & {
        &:before {
          content: "#{$breadcrumb-separator}";
          padding: 0 10px 0 5px;
          color: $breadcrumb-active-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &--def {
      background: url('../images/crumbs-back.jpg') repeat-x center left, #d5d8e2;
      .breadcrumbs__item.active {
        color: $breadcrumb-color;
      }
      .breadcrumbs__item {
        &:before {
          color: $white-lighten;
        }
      }
      .breadcrumbs__link {
        color: $white-lighten;
      }
    }
  }
}
