//
// Modules -> Navs
// --------------------------------------------------

.nav {
  &__justified {
    width: 100%;

    @if $use-adaptive == true {
      li {
        float: none;
        > a {
          margin-bottom: 5px;
          text-align: center;
        }
        @media screen and (min-width: $screen-adaptive-nav) {
          display: table-cell;
          width: 1%;
          > a {
            margin-bottom: 0;
          }
        }
      }
    } @else {
      li {
        display: table-cell;
        width: 1%;
        > a {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}


.sub-nav {
  text-align: center;
  li {
    display: block;
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }

  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
      position: absolute;
      background: $gray-darken;
      top: 100%;
      right: 0;
      min-width: 200px;
      li:hover & {
        display: block;
      }
    }
  } @else {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-size: 12px;
  // display: none;

  @media screen and (min-width: $screen-tablet) {
    @include flex-mid();
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      // display: flex;
      // width: 33%;
      text-align: center;
      @media screen and (min-width: $screen-tablet) {
        // width: auto;
        text-align: left;
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid transparent;

    background-color: transparent;
    @media screen and (min-width: $screen-tablet) {
      padding: $nav-link-padding;
    }
    &:hover, &:focus {
      border-color: $base-color-main;
    }
  }
  img {
    max-width: none;
  }

  &--menu {
    @include flex-mid();
    font-family: 'CirceBold';
    // .main-nav__item {
    //   width: 33%;
    //   @media screen and (min-width: $screen-tablet) {
    //     width: auto;
    //   }
    // }
    @media screen and (min-width: $screen-tablet) {
      text-transform: uppercase;
    }
    @media screen and (min-width: $screen-desktop) {
      font-size: 18px;
    }
    .main-nav__link {
      padding: 13px 0px;
      @media screen and (min-width: $screen-tablet) {
        padding: 22px 0px;
      }
    }
    img {
      @media screen and (min-width: $screen-tablet) {
        margin-right: 10px;
      }
      @media screen and (min-width: $screen-desktop) {
        margin-right: 20px;
      }
    }
    span {
      margin-top: 7px;
      display: block;
      @media screen and (min-width: $screen-tablet) {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      float: left;
      padding: 7px 10px;
      margin-right: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 16px;
        height: 2px;
        background: #000;
        border-radius: 1px;
        &:nth-child(2) {
          width: 10px;
        }
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      // border-top: 1px solid transparent;
      box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.3);
      // @include clearfix;
      -webkit-overflow-scrolling: touch;
      // clear: left;
      // display: none;

      &.in {
        overflow-y: auto;
      }
      @media screen and (max-width: $screen-sm-max) {
        position: absolute;
        top: -400px;
        left: 0;
        width: 100%;
        background: $white-lighten;
        z-index: 11;
        @include transition();
        &.active {
          top: 0;
          display: block;
        }
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}

// .navbar {
//   position: relative;
//   @include clearfix();
//   @media screen and (min-width: $screen-adaptive-nav) {
//     &__left {
//       float: left;
//     }
//     &__right {
//       float: right;
//     }
//   }
// }
