//
// Pages -> Index
// ------------------------------------

.card {
  &-main {
    .slick-dots {
      bottom: 5%;
      text-align: left;
    }
    &--bot {
      @media screen and (min-width: $screen-tablet) {
        margin-bottom: 100px;
      }
    }
    &-title {
      border-top: 1px solid $gray-lighten;
      font-size: 24px;
      padding-bottom: 20px;
    }
    &__elem {
      background-color: $gray-lighten;
      &-img {
        position: relative;
        a {
          position: absolute;
          top: 0;left: 0;
          z-index: 11;
        }
      }
    }
    &__info {
      text-align: center;
      background-color: $white-lighten;
      @media screen and (min-width: $screen-tablet) {
        position: absolute;
        height: 525px;
        max-width: 540px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 11%;
        width: 100%;
      }
      li {vertical-align: middle;}
      &--lg {
        max-width: 780px;
        &::after {
          content: '*Продажа выставочного образца, без возможности индивидуального заказа';
          font-size: 12px;
          color: $gray;
          position: absolute;
          bottom: -40px;
          right: 11%;
        }
        @media screen and (min-width: $screen-tablet) {
          height: auto;
          right: 28%;
        }
        @media screen and (min-width: $screen-desktop) {
          height: 480px;
        }
        .card-main__info-body {
          padding: 10px;
          @media screen and (min-width: $screen-tablet) {
            padding: 60px;
          }
          @media screen and (min-width: $screen-desktop) {
            padding: 90px;
          }
        }
      }
      &--md {
        left: 0;right: 0;
      }
      &-line {
        padding: 20px 0;
        & + & {
          border-top: 1px solid $gray-lighten;
        }
      }
      &-head {
        background: $black;
        font-size: $font-size-medium;
        color: $white-lighten;
        padding: 10px 30px;
        position: relative;
        display: inline-block;
        font-family: 'CirceRegular';
        &::after {
          content: '';
          border-style: solid;
          border-width: 11px 124px 0 124px;
          border-color: $black transparent transparent transparent;
          position: absolute;
          bottom: -11px;left: 0;right: 0;
        }
      }
      &-body {
        padding: 10px 0;
        @media screen and (min-width: $screen-phone) {
          padding: 20px;
        }
        @media screen and (min-width: $screen-tablet) {
          padding: 60px;
        }
        @media screen and (min-width: $screen-desktop) {
          padding: 60px 100px;
        }
      }
      &-footer {
        padding: 15px;
        border-top: 1px solid $gray-lighten;
        @media screen and (min-width: $screen-tablet) {
          padding: 35px;
        }
      }
    }
  }
  &-collect {
    @include paddingTopBot();
    text-align: center;
    &-info {
      background-color: $white-lighten;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      @media screen and (min-width: $screen-tablet) {
        margin-left: -100px;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      &--default {
        text-align: left;
        padding: 40px 20px;
        box-shadow: 8px 13px 65px rgba(0, 0, 0, 0.09);
        @media screen and (min-width: $screen-tablet) {
          margin-top: 100px;
          padding: 80px;
        }
      }
      &--pad {
        padding: 30px 20px 0;
        @media screen and (min-width: $screen-tablet) {
          padding: 80px;
        }
      }
    }
  }
  &-composition {
    border-top: 1px solid $gray-lighten;
    border-bottom: 1px solid $gray-lighten;
    &__item {
      &:first-child {
        @include paddingTopBot();
        border-right: 1px solid $gray-lighten;
      }
      &-info {
        @media screen and (min-width: $screen-phone) {
          padding: 0 20px;
        }
        @media screen and (min-width: $screen-desktop) {
          padding: 0 80px;
        }
      }
      &-elem {
        padding: 15px 0;
        @media screen and (min-width: $screen-tablet) {
          padding: 35px 0;
        }
        h3 {margin-top: 0;}
        & + & {
          border-top: 1px solid $gray-lighten;
        }
        &--m {
          @media screen and (max-width: $screen-sm-max) {
            .is-col {
              padding-top: 10px;
              padding-bottom: 10px;
              border-top: 1px solid $gray-lighten;
              @include flex-mid();
            }
          }
        }
      }
      &-img {
        text-align: center;
      }
    }
  }
  &-feature {
    border-bottom: 1px solid $gray-lighten;
    &__item {
      padding: 20px;
      @include flex-midcen;
      flex-wrap: wrap;
      text-align: center;
      @media screen and (min-width: $screen-phone) {
        text-align: left;
        border-left: 1px solid $gray-lighten;
        border-right: 1px solid $gray-lighten;
        padding: 40px;
      }
      &-ico {
        margin-right: 10px;
        width: 100%;
        @media screen and (min-width: $screen-tablet) {
          width: auto;
          margin-right: 30px;
          margin-left: 20px;
        }
      }
      &-name {
        width: 100%;
        @media screen and (min-width: $screen-tablet) {
          width: auto;
        }
      }
    }
  }
  &-clients {
    overflow: hidden;
    position: relative;
    @include paddingTopBot();
    border-top: 1px solid $gray-lighten;
  }
  &-deliver {
    font-family: 'CirceRegular';
    overflow: hidden;
    @include paddingBot();
    position: relative;
    &--line {
      position: absolute;
      z-index: -1;
      display: none;
      img {
        max-width: inherit;
      }
      &:after {
        content: '';
        background-color: $white-lighten;
        position: absolute;
        right: 0;top: 0;
        height: 100%;
        width: 40%;
        z-index: 0;
        @media screen and (min-width: $screen-desktop) {
          width: 16%;
        }
      }
      @media screen and (min-width: $screen-tablet) {
        left: 8%;
        top: 24.5%;
        display: block;
      }
      @media screen and (min-width: $screen-desktop) {
        left: 9.45%;
        top: 27%;
      }
    }
    .title span {color: $white-lighten;}
    h3 {
      @media screen and (min-width: $screen-desktop) {
        font-size: 46px;
      }
    }
    &__item {
      @include flex-midcen();
      flex-wrap: wrap;
      position: relative;
      @include paddingTopBot(130px);
      &--title {
        @media screen and (max-width: $screen-sm-max) {
          order: -1;
        }
      }
      @media screen and (min-width: $screen-tablet) {
        &.bg--primary {
          &:before {
            content: '';
            background-color: $base-color-main;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 100%;
            display: block;
          }
        }
        &.bg--grey {
          &:before {
            content: '';
            background-color: $gray-lighten;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 100%;
            display: block;
          }
        }
      }
    }
    &__icon {
      width: 112px;
      height: 112px;
      border: 2px solid $base-color-main;
      background-color: $white-lighten;
      @include flex-midcen();
      @include border-radius(50%);
      &--white {
        position: relative;
        border-color: $white-lighten;
        background-color: $base-color-main;
        &:after {
          content: '';
          border-left: 2px dashed $white-lighten;
          width: 2px;
          height: 60px;
          position: absolute;
          top: 100%;left: 0;right: 0;
          margin: auto;
          @media screen and (min-width: $screen-tablet) {
            height: 150px;
          }
        }
      }
      &--line {
        &:after {
          content: '';
          position: absolute;
          border-left: 2px dashed $base-color-main;
          height: 100%;
          width: 2px;
          margin: auto;
          z-index: -1;
          right: 0;left: 0;
          bottom: 50%;
          @media screen and (min-width: $screen-tablet) {
            display: none;
          }
        }
      }
    }
    &__txt {
      @media screen and (max-width: $screen-sm-max) {
        width: 100%;
      }
      @media screen and (min-width: $screen-tablet) {
        margin-left: 40px;
        max-width: 360px;
      }
    }
    &-items {
      @include paddingTopBot(80px);
      text-align: center;
      position: relative;
      .card-deliver__icon {
        margin: 25px auto 5px;
        @media screen and (min-width: $screen-tablet) {
          margin-bottom: 25px;
        }
      }
      &__item {
        position: relative;
        padding: 0 20px;
        p {
          // font-family: 'leto_sansbold';
          background-color: $white-lighten;
        }
      }
    }
  }
  &-includes {
    @include paddingBot();
    &__item {
      min-height: 250px;
      padding: 10px;
      text-align: center;
      border: 1px solid $gray-lighten;
      display: flex !important;
      flex-direction: column;
      @media screen and (min-width: $screen-phone) {
        min-height: 400px;
      }
      @media screen and (min-width: $screen-tablet) {
        height: 480px;
        padding: 36px;
      }
      &-img {
        margin: auto;
      }
      &-name {
        display: block;
        text-decoration: none;
        margin-top: auto;
        padding: 5px;
        background-color: $gray-lighten;
        @media screen and (min-width: $screen-tablet) {
          padding: 20px;
        }
      }
    }
  }
  &-calc {
    @include paddingBot();
    &-inner {
      padding: 30px 0;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      @media screen and (min-width: $screen-tablet) {
        flex-direction: row;
      }
    }
  }
  &-menu {
    @include marginBottom();
  }

  .slick-dots-mid {
    left: 5%;
    bottom: 5%;
    text-align: left;
  }
}
.card-line {
  position: absolute;
  right: 0;
  top: 0;
}
.sale {
  padding: 7px;
  font-size: $font-size-medium;
  color: $white-lighten;
  background-color: $base-color-main;
  display: inline-block;
  margin: 15px auto;
}

.colors {
  margin-top: 40px;
  margin-left: -10px;
  &__item {
    display: inline-block;
    margin: 0 10px;
  }
  input {
    display: none;
  }
  label {
    width: 43px;
    height: 43px;
    background-clip: content-box;
    padding: 6px;
    @include border-radius(50px);
    border: 2px solid transparent;
  }
  input:checked + label {
    border-color: $base-color-main
  }
}

.lists {
  margin-bottom: 20px;
  &__item {
    @include flex-mid();
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighten;
  }
}
