//
// Pages -> Index
// ------------------------------------

.contacts {
  @include paddingTopBot();
  &-title {
    @include paddingTopBot(40px);
  }
  &-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__item {
    padding: 10px 0;
    @media screen and (min-width: $screen-tablet) {
      padding: 40px 0;
    }
    &:first-child {
      padding-top: 0;
    }
    span, i {
      vertical-align: middle;
      margin-right: 9px;
    }
    @media screen and (min-width: $screen-tablet) {
      .text__lg {
        margin-top: 20px;
      }
      & + & {
        border-top: 1px solid $gray-lighten;
      }
    }
    a {
      display: block;
      text-decoration: none;
      span {
        border-bottom: 1px dotted $base-color-main;
      }
      &:hover span {
        border-color: transparent;
      }
    }
  }
}
