//
// Pages -> Index
// ------------------------------------

.delivery {
  &-types {
    text-align: center;
    @include paddingTopBot();
    &__item {
      &-ico {
        width: 112px;
        height: 112px;
        margin: auto;
        @include border-radius(50%);
        background-color: $base-color-main;
        @include flex-midcen();
        @include marginBottom(40px);
      }
      &-title {
        @include marginBottom(40px);
        h3 {
          font-family: 'CirceRegular';
        }
      }
    }
  }
  &-elem {
    background-color: $gray-lighten;
    @include marginBottom();
    &-title {
      font-size: 36px;
      @include marginBottom(40px);
      @media screen and (min-width: $screen-tablet) {
        font-size: 46px;
      }
      h3 {
        font-family: 'CirceRegular';
        margin-top: 0;
      }
    }
    &-inner {
      padding: 20px 8px;
      @media screen and (min-width: $screen-phone) {
        padding: 40px;
      }
      @media screen and (min-width: $screen-tablet) {
        padding: 40px 40px 0 40px;
      }
      @media screen and (min-width: $screen-desktop) {
        padding: 60px 80px 0 80px;
      }
    }
    &-desc {
      p {
        @include marginBottom(40px);
      }
    }
  }
}
