//
// Pages -> Index
// ------------------------------------

.designs {
  &-title {
    @include paddingTopBot(40px);
  }
  &-notice {
    @include paddingTopBot();
    font-size: 16px;
    font-family: 'CirceRegular';
    text-align: center;
    background: $gray-lighten;
    @media screen and (min-width: $screen-tablet) {
      font-size: 24px;
      line-height: 2;
    }
    p {
      @include marginBottom(40px);
    }
  }
  &-about {
    @include paddingTopBot(120px);
    &-txt {
      position: relative;
      text-align: center;
      margin: 20px 0;
      @media screen and (min-width: $screen-tablet) {
        &:before {
          content: '';
          background: $white-lighten;
          height: 550px;
          width: 120px;
          position: absolute;
          top: -100px;
          left: -120px;
        }
      }
    }
  }
  &-works {
    @include paddingBot();
    .slick-arrow {
      display: none !important;
    }
    .slick-dots {
      bottom: -40px;
    }
  }
  &-form {
    @include paddingBot();
    .forms {
      @media screen and (min-width: $screen-tablet) {
        margin-top: -100px;
      }
    }
  }
}

.forms {
  padding-top: 30px;
  background: $white-lighten;
  @media screen and (min-width: $screen-phone) {
    padding: 30px;
  }
  @media screen and (min-width: $screen-tablet) {
    padding: 70px;
  }
}


.designers {
  &-info {
    @include flex-midcen();
    flex-wrap: wrap;
    &__name {
      height: 96px;
      padding: 20px 40px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: $screen-sm-max) {
        // justify-content: center;
      }
      &:after {
        content: '';
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        z-index: -1;
        background-color: $white-lighten;
      }
    }
    &__img {
      padding: 16px;
      @include border-radius(50%);
    }
    &__adr {
      height: 96px;
      padding: 30px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: $screen-sm-max) {
        justify-content: center;
      }
      @media screen and (min-width: $screen-tablet) {
        &:after {
          content: '';
          height: 100%;
          width: 20px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          z-index: -1;
          background-color: $white-lighten;
        }
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      > div {
        text-align: center;
        height: auto;
        width: 100%;
        padding: 8px;
        @include border-radius(0);
      }
    }
    &--once {
      justify-content: start;
      .designers-info__adr {
        height: auto;
        padding: 20px 30px;
        &:after {
          background-color: $gray-lighten;
        }
      }
    }
  }
}
