//
// Pages -> Index
// ------------------------------------

.history {
  @include paddingTopBot(130px);
  background-color: $gray-lighten;
  &-inner {
  }
  &-lines {
    @include flex-midcen();
    flex-wrap: wrap;
    &__item {
      width: 100%;
      position: relative;
      display: flex;
      padding-bottom: 30px;
      @media screen and (min-width: $screen-tablet) {
        display: block;
        padding-top: 200px;
        padding-bottom: 200px;
        width: calc(100% / 6);
      }
      .dotme {
        position: relative;
        z-index: 2;
        width: 8px;
        height: 8px;
        background: $base-color-main;
        border-radius: 50%;
        order: -1;
        margin-top: 8px;
        box-shadow:
          0 0 0 4px $white-lighten,
          0 0 0 6px $gray-darken-1;
          @media screen and (min-width: $screen-tablet) {
            width: 12px;
            height: 12px;
            margin-top: 0;
            box-shadow:
              0 0 0 11px $white-lighten,
              0 0 0 13px $gray-darken-1;
          }
      }
      &.active .dotme,
      &:hover .dotme {
        box-shadow:
          0 0 0 4px $white-lighten,
          0 0 0 6px $base-color-main;
          @media screen and (min-width: $screen-tablet) {
            box-shadow:
              0 0 0 11px $white-lighten,
              0 0 0 13px $base-color-main;
          }
      }
      &::after {
        content: '';
        width: 2px;
        height: 100%;
        border-left: 2px dotted #b7b7b7;
        position: absolute;
        top: 6px;bottom: 0;
        left: 3px;
        margin: auto;
        @media screen and (min-width: $screen-tablet) {
          width: 100%;
          height: 2px;
          left: 0;
          top: 0;
          border-top: 2px dotted #b7b7b7;
        }
      }
      &:last-child::after {
        display: none;
      }
    }
    &__cont {
      margin-left: 30px;
      @media screen and (min-width: $screen-tablet) {
        left: 0;
        position: absolute;
        margin-left: 0;
      }
      &-date {
        font-size: 20px;
        font-family: 'CirceBold';
        line-height: 1.3;
        @media screen and (min-width: $screen-tablet) {
          font-size: 50px;
        }
      }
      &-name {

      }
      &--top {
        top: 0;
        @media screen and (min-width: $screen-tablet) {
          width: 300px;
        }
        @media screen and (min-width: $screen-desktop) {
          width: 400px;
        }
      }
      &--bottom {
        top: 58%;
      }
    }
  }

  &-statistic {
    @include paddingTopBot();
    box-shadow: 8px 13px 65px rgba(0, 0, 0, 0.09);
    &__num {
      font-family: 'CirceBold';
      font-size: 72px * 0.5;
      @media screen and (min-width: $screen-tablet) {
        font-size: 72px;
      }
    }
  }

  &-story {
    @include paddingTop();
    padding-bottom: 0;
    &__img {
      margin-bottom: 15px;
      border: 1px solid $gray-lighten;
      @media screen and (min-width: $screen-phone) {
        margin-bottom: 30px;
        padding: 30px;
      }
    }
    &__item {
      @include flex-midcen();
      @media screen and (min-width: $screen-phone) {
        display: block;
      }
    }
  }
}
