//
// Pages -> Index
// ------------------------------------

.page-index { }

.hotel {
  &-works {
    @include paddingTopBot();
    .card-includes-inner {
      @include paddingTopBot(60px);
    }
  }
  &-projects {
    @include marginBottom(160px);
    border-bottom: 1px solid $gray-lighten;
    .catalog-inner {
      // @include marginTop(60px);
    }
    @media screen and (min-width: $screen-tablet) {
      &__btn {
        margin-bottom: -40px;
      }
    }
  }
}
