//
// Pages -> Index
// ------------------------------------

.page404 {
  &-header {
    margin-top: 15px;
    height: 70px;
    background: url('../images/crumbs-back-1.png') no-repeat top center;
  }
  &-body {
    height: calc(100vh - 70px);
    flex-direction: column;
    @include flex-mid;
    &-inner {
      margin: auto;
    }
    &__btn {
      @include marginTop();
    }
    .title {
      span {
        @media screen and (min-width: $screen-tablet) {
          top: -205px;
        }
      }
    }
  }
}
