//
// Pages -> Index
// ------------------------------------

.shares {
  &__item {
    position: relative;
    &-inner {
      padding: 20px 8px;
      @media screen and (min-width: $screen-tablet) {
        padding: 40px;
      }
      @media screen and (min-width: $screen-desktop) {
        padding: 90px 90px 20px 90px;
      }
    }
    &-img {
      position: relative;
      img {width: 100%;}
    }
    &-tip {
      position: absolute;
      top: 0;left: 0;
      border-bottom: 100px solid $base-color-main;
    	border-right: 50px solid transparent;
    	height: 0;
    	width: 200px;
      font-size: 25px;
      text-transform: uppercase;
      color: $white-lighten;
      font-family: 'leto_sansbold';
      @media screen and (min-width: $screen-phone) {
        border-bottom: 260px solid $base-color-main;
      	border-right: 150px solid transparent;
      	height: 0;
      	width: 410px;
        font-size: 35px;
      }
      .name {
        position: absolute;
        top: 10px;left: 10px;
        @media screen and (min-width: $screen-phone) {
          top: 60px;left: 60px;
        }
      }
      .desc {
        font-size: 30px;
        @media screen and (min-width: $screen-phone) {
          font-size: 70px;
        }
      }
    }
    &-label {
      position: absolute;
      bottom: 8px;
      left: 0;
      @media screen and (min-width: $screen-phone) {
        bottom: 60px;
      }
    }
    &-desc {
      z-index: 11;
      line-height: 2;
      background-color: $white-lighten;
      border: 1px solid $gray-lighten;
      h3 {
        margin-bottom: 30px;
      }
    }
  }
}
