footer.page-footer
  .line.line--projects-l
    img(src="images/line-r.svg", alt="alt")
  .line.line--projects-r
    img(src="images/line-l.svg", alt="alt")
  .container
    .is-col__lg-10.centered-block
      .is-row
        .page-footer__item.is-col
          .hidden__xs.hidden__sm
            div: img(src='images/logo-footer.png', alt='')
            p.text__md.logo-footer Первая Мебельная Фабрика #[br] 2013–2017 
        .page-footer__item.is-col
          ul.footer-nav
            li.footer-nav__item.footer-nav__item--title Мебель
            li.footer-nav__item
              a.footer-nav__link(href='#') Все кухни
            li.footer-nav__item
              a.footer-nav__link(href='#') Современные кухни
            li.footer-nav__item
              a.footer-nav__link(href='#') Классические кухни
            li.footer-nav__item
              a.footer-nav__link(href='#') Другая мебель
            li.footer-nav__item
              a.footer-nav__link(href='#') Распродажа
            li.footer-nav__item
              a.footer-nav__link(href='#') Акции
            li.footer-nav__item
              a.footer-nav__link(href='#') Наше портфолио
            li.footer-nav__item
              a.footer-nav__link(href='#') Полезная информация
          ul.social.hidden__xs.hidden__sm
            li.social__item: a.social__link(href='#'): i.is-icons.is-icons--facebook
            li.social__item: a.social__link(href='#'): i.is-icons.is-icons--insta
            li.social__item: a.social__link(href='#'): i.is-icons.is-icons--vk
        .page-footer__item.is-col
          ul.footer-nav
            li.footer-nav__item.footer-nav__item--title Сервис
            li.footer-nav__item
              a.footer-nav__link(href='#') Доставка и сборка
            li.footer-nav__item
              a.footer-nav__link(href='#') Рассрочка 0%
            li.footer-nav__item
              a.footer-nav__link(href='#') Мобильный салон
          .hidden__xs.hidden__sm: a.btn.btn--primary(href='#') Оплата онлайн
          .send-email.hidden__xs.hidden__sm
            a.btn.btn--outlined.btn--full(href='#') Написать руководителю
        .page-footer__item.is-col
          ul.footer-nav
            li.footer-nav__item.footer-nav__item--title Компания
            li.footer-nav__item
              a.footer-nav__link(href='#') О фабрике
            li.footer-nav__item
              a.footer-nav__link(href='#') Где купить?
            li.footer-nav__item
              a.footer-nav__link(href='#') Контакты
            li.footer-nav__item
              a.footer-nav__link(href='#') Новости
            li.footer-nav__item
              a.footer-nav__link(href='#') Вакансии
        .page-footer__item.is-col
          ul.footer-nav
            li.footer-nav__item.footer-nav__item--title Для организаций
            li.footer-nav__item
              a.footer-nav__link(href='#') Корпоративным клиентам
            li.footer-nav__item
              a.footer-nav__link(href='#') Партнерам
            li.footer-nav__item
              a.footer-nav__link(href='#') Личный кабинет партнера
            li.footer-nav__item
              a.footer-nav__link(href='#') Дизайнерам интерьеров
          .is-row.between__xs.middle__xs.hidden__md.hidden__lg.margtop30
            .is-col.is-col__xs-6.margbot30
              a.btn.btn--primary(href='#') Оплата онлайн
            .is-col.is-col__xs-6.text--right.margbot30
              ul.social
                li.social__item: a.social__link(href='#'): i.is-icons.is-icons--facebook
                li.social__item: a.social__link(href='#'): i.is-icons.is-icons--insta
                li.social__item: a.social__link(href='#'): i.is-icons.is-icons--vk
            .is-col.is-col__xs-4.margbot30
              img(src='images/logo-footer.png', alt='')              
            .is-col.is-col__xs-6.text--right.margbot30
              .text__md 2013–2017
          .hidden__md.hidden__lg.margbot30.text--center
            a.btn.btn--outlined(href='#')    
              i.icon-popup-ico
              span Что-то не так? Пишите!
          .logo-cloud
            span Сделано в &nbsp;
              a(href='#'): img(src='images/logo-cloud.png', alt='')
