header.page-header.page-header--nob
    .container
        .is-row.middle__xs
          .is-col.is-col__md-2.page-header__logo.is-col__xs-12
            .page-header__logo-nav
              button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                span.icon-bar &nbsp;
                span.icon-bar &nbsp; 
                span.icon-bar &nbsp;
              a(href="/")
                  img(src="images/logo.png", alt="Company ltd.")
            .is-row.middle__xs.hidden__md.hidden__lg
              .is-col: a(href='#'): i.icon-location
              .is-col: a(href='#'): i.is-icons.is-icons--search
              .is-col: a(href='#'): i.is-icons.is-icons--phone
          .is-col.is-col__md-10.page-header__navbar.is-col__xs-12
            .page-header__navbar-top
              .button.hidden__sm.hidden__xs
                a.btn.btn__sm.btn--default.btn__icon.popup(href='#calculating-id')
                  i.icon-clients
                  | Корпоративным клиентам             
              include ../components/_navbar 
            .page-header__navbar-bot
              .page-header__menu.is-col__lg-7.is-col__md-8.is-col__xs-12
                ul.main-nav.main-nav--menu
                  li.main-nav__item
                    a.main-nav__link(href='#') 
                      img(src='images/icons/menu-ico-1.png', alt='')
                      span Кухни
                  li.main-nav__item
                    a.main-nav__link(href='#') 
                      img(src='images/icons/menu-ico-2.png', alt='')
                      span Мебель для дома
                  li.main-nav__item
                    a.main-nav__link(href='#') 
                      img(src='images/icons/menu-ico-3.png', alt='')
                      span Мебель для офиса
              .page-header__search.is-col__lg-2.is-col__md-3
                a.search(href=''): i.is-icons.is-icons--search
                .page-header__city
                    .name Санкт-Петербург
                    .phone 8 800 552-06-46
                .page-header__phone
                  a(href=''): i.is-icons.is-icons--phone
