$icons: (
	  sprite: (width: 4325px, height: 132px, svgPath: '../images/svg/sprite.svg'),
 	adv-1: (width: 60px, height: 60px, backgroundX: 0px, backgroundY: 0px),
 	adv-2: (width: 60px, height: 60px, backgroundX: -80px, backgroundY: 0px),
 	adv-3: (width: 79px, height: 45px, backgroundX: -160px, backgroundY: 0px),
 	adv-4: (width: 48px, height: 76px, backgroundX: -259px, backgroundY: 0px),
 	adv-5: (width: 69px, height: 62px, backgroundX: -327px, backgroundY: 0px),
 	adv-7: (width: 49px, height: 66px, backgroundX: -416px, backgroundY: 0px),
 	adv-8: (width: 61px, height: 54px, backgroundX: -485px, backgroundY: 0px),
 	arr-b: (width: 14px, height: 9px, backgroundX: -566px, backgroundY: 0px),
 	btn-arr: (width: 15px, height: 10px, backgroundX: -600px, backgroundY: 0px),
 	card-ico-1: (width: 58px, height: 55px, backgroundX: -635px, backgroundY: 0px),
 	card-ico-2: (width: 83px, height: 45px, backgroundX: -713px, backgroundY: 0px),
 	card-ico-3: (width: 55px, height: 53px, backgroundX: -816px, backgroundY: 0px),
 	card-ico-4: (width: 53px, height: 53px, backgroundX: -891px, backgroundY: 0px),
 	cat-ico-1: (width: 26px, height: 34px, backgroundX: -964px, backgroundY: 0px),
 	cat-ico-10: (width: 38px, height: 26px, backgroundX: -1010px, backgroundY: 0px),
 	cat-ico-11: (width: 37px, height: 22px, backgroundX: -1068px, backgroundY: 0px),
 	cat-ico-12: (width: 22px, height: 37px, backgroundX: -1125px, backgroundY: 0px),
 	cat-ico-13: (width: 17px, height: 36px, backgroundX: -1167px, backgroundY: 0px),
 	cat-ico-14: (width: 32px, height: 27px, backgroundX: -1204px, backgroundY: 0px),
 	cat-ico-16: (width: 26px, height: 33px, backgroundX: -1256px, backgroundY: 0px),
 	cat-ico-2: (width: 36px, height: 21px, backgroundX: -1302px, backgroundY: 0px),
 	cat-ico-3: (width: 31px, height: 27px, backgroundX: -1358px, backgroundY: 0px),
 	cat-ico-4: (width: 33px, height: 23px, backgroundX: -1409px, backgroundY: 0px),
 	cat-ico-5: (width: 21px, height: 39px, backgroundX: -1462px, backgroundY: 0px),
 	cat-ico-6: (width: 30px, height: 35px, backgroundX: -1503px, backgroundY: 0px),
 	cat-ico-7: (width: 30px, height: 33px, backgroundX: -1553px, backgroundY: 0px),
 	cat-ico-8: (width: 29px, height: 35px, backgroundX: -1603px, backgroundY: 0px),
 	cat-ico-9: (width: 39px, height: 47px, backgroundX: -1652px, backgroundY: 0px),
 	clients: (width: 19px, height: 19px, backgroundX: -1711px, backgroundY: 0px),
 	close: (width: 16px, height: 16px, backgroundX: -1750px, backgroundY: 0px),
 	cont-link: (width: 18px, height: 23px, backgroundX: -1786px, backgroundY: 0px),
 	cont-loc: (width: 19px, height: 22px, backgroundX: -1824px, backgroundY: 0px),
 	cont-mail: (width: 18px, height: 15px, backgroundX: -1863px, backgroundY: 0px),
 	cont-phone: (width: 19px, height: 18px, backgroundX: -1901px, backgroundY: 0px),
 	deliv-1: (width: 48px, height: 50px, backgroundX: -1940px, backgroundY: 0px),
 	deliv-2: (width: 43px, height: 43px, backgroundX: -2008px, backgroundY: 0px),
 	deliv-3: (width: 67px, height: 43px, backgroundX: -2071px, backgroundY: 0px),
 	deliv-4: (width: 47px, height: 47px, backgroundX: -2158px, backgroundY: 0px),
 	deliv-5: (width: 55px, height: 44px, backgroundX: -2225px, backgroundY: 0px),
 	delivery-1: (width: 57px, height: 56px, backgroundX: -2300px, backgroundY: 0px),
 	delivery-2: (width: 45px, height: 60px, backgroundX: -2377px, backgroundY: 0px),
 	delivery-3: (width: 42px, height: 51px, backgroundX: -2442px, backgroundY: 0px),
 	facebook: (width: 11px, height: 18px, backgroundX: -2504px, backgroundY: 0px),
 	insta: (width: 18px, height: 18px, backgroundX: -2535px, backgroundY: 0px),
 	location: (width: 13px, height: 16px, backgroundX: -2573px, backgroundY: 0px),
 	nobtn-arr: (width: 15px, height: 10px, backgroundX: -2606px, backgroundY: 0px),
 	part-1: (width: 59px, height: 57px, backgroundX: -2641px, backgroundY: 0px),
 	part-2: (width: 56px, height: 56px, backgroundX: -2720px, backgroundY: 0px),
 	part-3: (width: 47px, height: 49px, backgroundX: -2796px, backgroundY: 0px),
 	part-4: (width: 70px, height: 52px, backgroundX: -2863px, backgroundY: 0px),
 	pay-1: (width: 112px, height: 112px, backgroundX: -2953px, backgroundY: 0px),
 	pay-2: (width: 112px, height: 112px, backgroundX: -3085px, backgroundY: 0px),
 	pay-3: (width: 112px, height: 112px, backgroundX: -3217px, backgroundY: 0px),
 	pay-4: (width: 112px, height: 112px, backgroundX: -3349px, backgroundY: 0px),
 	pay-5: (width: 112px, height: 112px, backgroundX: -3481px, backgroundY: 0px),
 	pay-6: (width: 112px, height: 112px, backgroundX: -3613px, backgroundY: 0px),
 	phone: (width: 19px, height: 18px, backgroundX: -3745px, backgroundY: 0px),
 	popup-ico: (width: 24px, height: 27px, backgroundX: -3784px, backgroundY: 0px),
 	search: (width: 16px, height: 17px, backgroundX: -3828px, backgroundY: 0px),
 	search-bar: (width: 33px, height: 33px, backgroundX: -3864px, backgroundY: 0px),
 	soc-1: (width: 11px, height: 18px, backgroundX: -3917px, backgroundY: 0px),
 	soc-2: (width: 19px, height: 18px, backgroundX: -3948px, backgroundY: 0px),
 	soc-3: (width: 22px, height: 13px, backgroundX: -3987px, backgroundY: 0px),
 	tech-1: (width: 58px, height: 55px, backgroundX: -4029px, backgroundY: 0px),
 	tech-2: (width: 83px, height: 44px, backgroundX: -4107px, backgroundY: 0px),
 	tech-3: (width: 53px, height: 53px, backgroundX: -4210px, backgroundY: 0px),
 	vk: (width: 22px, height: 13px, backgroundX: -4283px, backgroundY: 0px),
);
