main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span.light О фабрике
  section.designs-notice
    .container
      span Доверьте вашу кухню петербургскому предприятию с богатой историей
  section.projects
    .container
      .is-row.stretch__xs
        .projects-left.projects-left--nob.is-col.is-col__lg-5.is-col__md-4.is-col__xs-12
          .line.line--projects-l
            img(src="images/line-r.svg", alt="alt")
          .projects-title.title
            h2 О фабрике
            span 01
          .projects-txt.is-col__lg-10
            p.text__lg Уходя своей историей в далекий 1945 год, «Первая мебельная» фабрика прошла проверку временем. 
            p.text__lg Мы делали качественную мебель и улучшали технологии. Сейчас мы предлагаем кухни, произведенные в Санкт-Петербурге на швейцарском оборудовании.
          .projects-link
            a.btn-link.text--uppercase(href='#') 
              | Смотреть все &nbsp;
              i.is-icons.is-icons--nobtn-arr
        .projects-right.is-col.is-col__lg-7.is-col__md-8.is-col__xs-12
          .line.line--projects-r
            img(src="images/line-l.svg", alt="alt")
          .projects-bg.bg-white.shadow
            img(src='images/video.jpg', alt='')
  section.contacts-title
    .container
      .title.text--center
        h3.title--md Краткая история компании
  section.history
    .container.container-fullwidth
      .history-inner
        .history-lines
          .history-lines__item.active
            .history-lines__cont.history-lines__cont--top
              .history-lines__cont-date.text--primary 1945
              .history-lines__cont-name Дата основания компании
            .dotme
          .history-lines__item
            .history-lines__cont.history-lines__cont--bottom
              .history-lines__cont-date.text--primary 1999
              .history-lines__cont-name Фабрика громко заявила о себе на выставке IMM Cologne (Германия): вся продукция была раскуплена на месте
            .dotme
          .history-lines__item
            .history-lines__cont.history-lines__cont--top
              .history-lines__cont-date.text--primary 2001–2010
              .history-lines__cont-name Строительство крупнейших мебельных центро в Санкт-Петербурге и Москве: «Мебель-Сити»», «Мебель-Сити 2», «Мебель-Сити Москва»
            .dotme
          .history-lines__item
            .history-lines__cont.history-lines__cont--bottom
              .history-lines__cont-date.text--primary 2014
              .history-lines__cont-name Подписание договора между ЗАО «Первая мебельная фабрика» и концерном ALNO AG (Германия) о создании совместного предприятия на базе производственных мощностей фабрики в Санкт- Петербурге
            .dotme
          .history-lines__item
            .history-lines__cont.history-lines__cont--top
              .history-lines__cont-date.text--primary 2015
              .history-lines__cont-name Автоматизация производственных площадок «Первой мебельной фабрики» в Санкт-Петербурге на основе технологий завода Bruno Piati
            .dotme
          .history-lines__item
            .history-lines__cont.history-lines__cont--bottom
              .history-lines__cont-date.text--primary 2016
              .history-lines__cont-name Полный запуск автоматизированных линий СП «Первая мебельная фабрика- ALNO». Ребрендинг фабрики, презентация нового модельного ряда и бренда Bruno Piatti.
            .dotme
  include ../components/_advantages-lg 
  section.history-statistic
    .container
      .is-row.center__xs
        .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
          .history-statistic__num.text--primary 10
          .history-statistic__txt лет гарантии #[br] на продукцию
        .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
          .history-statistic__num.text--primary 18
          .history-statistic__txt дней на сборку кухни
        .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
          .history-statistic__num.text--primary 8%
          .history-statistic__txt от стоимости кухни за сборку
  section.history-story
    .container
      .text--center 
        h3.title--md Краткая история компании
      .is-row.center__xs.text--center
        .is-col.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-12.history-story__item
          .history-story__img: img(src='images/sert.jpg', alt='')
          .history-story__name.text__sm Диплом Министерства экономики РФ «За лучшую россиисскую мебель»
        .is-col.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-12.history-story__item
          .history-story__img: img(src='images/sert.jpg', alt='')
          .history-story__name.text__sm Победитель конкурса Правительства Санкт-Петербурга по качеству среди крупных предприятий города
        .is-col.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-12.history-story__item
          .history-story__img: img(src='images/sert.jpg', alt='')
          .history-story__name.text__sm Класс экологичности Победитель общероссийского конкурса в области промышленного дизаийна «Российская кабриоль» в номинации «Кухонная мебель»- А1
  include ../components/_hotel-works
  section.card-collect
    .container   
        .is-col__lg-8.centered-block
          .is-row.middle__xs
            .is-col.is-col__sm-6.is-col__xs-12
              img(src='images/men.jpg', alt='')
            .is-col.is-col__sm-6.is-col__xs-12
              .card-collect-info.card-collect-info--pad 
                p Руководитель компании
                h3 Александр Шестаков
                blockquote Говорят, что время - наиболее верный показатель правильности выбранного пути и благонадежности. Пройти проверку временем - значит доказать свою значимость и продемонстрировать стойкость перед всеми жизненными трудностями
                a.btn.btn--outlined(href='#') Написать руководителю
