main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .is-col__lg-8.centered-block
        .title.title--mid.text--center
          h3= title
          span Кабинет
        .catalog-inner
          .is-row.middle__xs.between__xs.margbot30
            .is-col
              p.bold ИП Смирнов
            .is-col
              ul.list--inline
                li
                  a.text--primary(href='#') Материалы для дилеров
                li
                  a.text--primary(href='#') Онлайн-тест
        .cabinet-elem
          .text--center     
            h4.title--md.bold Буклеты
          .card-includes-inner.is-row.is-row--null
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-1.jpg', alt='')
                  p Буклет «Кухни»
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-2.jpg', alt='')
                  p Буклет «Офисы»
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-3.jpg', alt='')
                  p Буклет «Отели»
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-4.jpg', alt='')
                  p Буклет «Кухни»
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
        .cabinet-elem
          .text--center     
            h4.title--md.bold Вывески
          .card-includes-inner.is-row.is-row--null
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-5.jpg', alt='')
                  p Вывеска 1
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-6.jpg', alt='')
                  p Вывеска 2
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-7.jpg', alt='')
                  p Вывеска 3
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
              .is-col__md-3.is-col__sm-6.is-col__xs-12
                .card-includes__item
                  .card-includes__item-img
                    img(src='images/cab-8.jpg', alt='')
                  p Вывеска 4
                  p.text__sm.text--grey сентябрь 2016
                  a.btn.btn--outlined(href='#') Скачать
