main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Кабинет
      .catalog-inner
        .is-row.middle__xs.between__md.center__xs.margbot30
          .is-col
            p: b ИП Смирнов
          .is-col
            ul.list--inline
              li
                a.text--primary(href='#') Материалы для дилеров
              li
                a.text--primary(href='#') Онлайн-тест
        .is-row.is-row--null
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/cabinet-1.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Рекламные материалы
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/cabinet-2.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Прайсы на сопутствующие товары
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/cabinet-3.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Материалы для обучения
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/cabinet-4.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Отчетная документация
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
  
