main.page-main
  include ../components/_breadcrumbs
  section.card-main
    .container.container--fullwidth
      .card-main__elem.relative
        .card-main__elem-img
          a.btn.btn__md.btn--warning(href='#') Выставочный образец
          .slider-project-autow         
            - for (var x = 1; x < 6; x++)
              div: img(src='images/card.jpg', alt='')
        .card-main__info
          .card-main__info-body
            p Мебель для дома
            h3 Шкаф купе «Акура»
            .price
              span.price-old 168 800 р.
              span.price-new 108 867 р.
            a.text--grey.text__sm(href='#') Возможна рассрочка
            .margtop30
              p: a.btn.btn--full.btn__md.btn--warning(href='#') Рассчитать цену
              p: a.btn.btn--full.btn__md.btn--outlined(href='#') Вызвать дизайнера
          .card-main__info-footer
            p.text__md: a(href='#') ПОСМОТРЕТЬ НАЛИЧИЕ
  section.card-feature.hidden__xs.hidden__sm
    .container.container--fullwidth
      .is-row.is-row--null
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--card-ico-1
          .card-feature__item-name Гарантия #[br] 10 лет
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--card-ico-2
          .card-feature__item-name Бесплатная #[br] доставка
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--card-ico-3
          .card-feature__item-name Изготовим #[br] за 18 дней
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--card-ico-4
          .card-feature__item-name Собственное производство #[br] SWISS MADE в СПБ
  section.designs-notice
    .container      
      .slider-notice        
        - for (var x = 1; x < 6; x++)
          div
            .is-col__md-6.is-col__sm-8.centered-block
              span Япония, страна вековых традиций и высоких технологий, вдохновила нас на создание этой кухни в стиле модерн. Характерные национальные элементы гармонично сочетаются с современной цветовой гаммой («лайм», «олива» или «лиственница»). Корпуса цвета «венге» выполнен из ламинированной ДСП, фасад — из МДФ.
  section.card-composition
    .container.container--fullwidth
      .is-row.middle__xs
        .is-col.is-col__md-6.is-col__xs-12.card-composition__item
          .card-composition__item-img
            img(src='images/card-2.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12.card-composition__item
          .card-composition__item-info
            .card-composition__item-elem
              h3.light В базовую стоимость #[br] кухни входит:
            .card-composition__item-elem
              .is-row
                .is-col.is-col__md-6.is-col__xs-6
                  p.text__lg Планировка
                  .lists
                    .lists__item 
                      span Прямая
                .is-col.is-col__md-6.is-col__xs-6
                  p.text__lg Размеры
                  .lists
                    .lists__item 
                      span Длина #[span.text__sm.text--grey (см)]
                      span 2000
                    .lists__item 
                      span Ширина #[span.text__sm.text--grey (см)]
                      span 1000
                    .lists__item 
                      span Глубина #[span.text__sm.text--grey (см)]
                      span 500
            .card-composition__item-elem
              .is-row.bottom__xs
                .is-col.is-col__sm-6.is-col__xs-12
                  p.text__lg Используемые материалы
                  .is-row.middle__xs.margbot30
                    .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                      img(src='images/card-mat-1.png', alt='')
                    .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                      p: .masterTooltip(title='This will show up in the tooltip') Внутри 
                      p.text__sm.text--grey МДФ облицованная ПВХ
                .is-col.is-col__sm-6.is-col__xs-12
                  .is-row.middle__xs.margbot30
                    .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                      img(src='images/card-mat-2.png', alt='')
                    .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                      p: .masterTooltip(title='This will show up in the tooltip') Снаружи
                      p.text__sm.text--grey Пластик с завалом
            .card-composition__item-elem
              .is-row.middle__xs.text--center.text__sm--left
                .is-col.is-col__lg-5.is-col__sm-7.is-col__xs-12
                  p: a.btn.btn__md.btn--warning(href='#') Забронировать кухню
                .is-col.is-col__lg-6.is-col__sm-5.is-col__xs-12
                  p.text__sm Эта кухня ждет вас в нашем салоне по адресу: #[br] Московский проспект., 79
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3 Кухню «Токио» можно посмотреть в следующих салонах
        span 01
  section.objects
    .container.container--fullwidth
      .is-row.is-row--null
        .is-col.is-col__lg-4.is-col__md-5.objects-left.is-col__xs-12
          .objects-body
            .objects-body-inner
                .objects-body__item
                  .objects-body__item-subway
                    .ico.ico--blue
                    span м. Фрунзенская
                  .objects-body__item-address  Московский пр., 79
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_mos79@1mf.ru
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Пн-Пт: 10:00-20:00
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Сб-Вс: 10:00-20:00
                .objects-body__item
                  .objects-body__item-subway
                    .ico.ico--green
                    span м. Приморская
                  .objects-body__item-address В.О. Уральская ул. 17
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_uralskaya@1mf.ru
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__xs-12 Ежедневно: 10:00 до 20:00 #[span.text--grey (без перерыва)]
        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12.objects-right
          .objects-map
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
            #map
          .objects-btn
            a.btn.btn__lg.btn--warning(href='#') Найти ближайший салон
  include ../components/_advantages-lg
  
