main.page-main
  include ../components/_breadcrumbs-d
  section.card.card-main
    .container.container--fullwidth
      .card-main__elem.relative
        .card-main__elem-img
          .slider-project-autow    
            - for (var x = 1; x < 6; x++)
              div: img(src='images/card-fur.jpg', alt='')        
        .card-main__info
          .card-main__info-body
            p Современный стиль
            h3 Кухня «Токио»
            .sale -70%
            .price
              span.price-old 168 800 р.
              span.price-new 108 867 р.
            a.text--grey.text__sm(href='#') Возможна рассрочка
            .margtop30
              p: a.btn.btn--full.btn__md.btn--primary(href='#') Рассчитать
              p: a.btn.btn--full.btn__md.btn--outlined(href='#') Записатьcя в салон
  include ../components/_card-feature
  section.designs-notice
    .container      
      .slider-notice        
        - for (var x = 1; x < 6; x++)
          div
            .is-col__md-6.is-col__sm-8.centered-block
              span Япония, страна вековых традиций и высоких технологий, вдохновила нас на создание этой кухни в стиле модерн. Характерные национальные элементы гармонично сочетаются с современной цветовой гаммой («лайм», «олива» или «лиственница»). Корпуса цвета «венге» выполнен из ламинированной ДСП, фасад — из МДФ.
  section.card-composition
    .container.container--fullwidth
      .is-row.middle__xs
        .is-col.is-col__md-6.is-col__xs-12.card-composition__item
          .card-composition__item-info
            .card-composition__item-elem
              h3.light В базовую стоимость #[br] кухни входит:
            .card-composition__item-elem
              .is-row
                .is-col.is-col__xs-6
                  p.text__lg Планировка
                  .lists
                    .lists__item 
                      span Прямая
                .is-col.is-col__xs-6
                  p.text__lg Размеры
                  .lists
                    .lists__item 
                      span Длина #[span.text__sm.text--grey (см)]
                      span 2000
                    .lists__item 
                      span Ширина #[span.text__sm.text--grey (см)]
                      span 1000
                    .lists__item 
                      span Глубина #[span.text__sm.text--grey (см)]
                      span 500
        .is-col.is-col__md-6.is-col__xs-12.card-composition__item
          .card-composition__item-info
            .card-composition__item-elem
              h3.light Используемые #[br] материалы
            .card-composition__item-elem
              .is-row.bottom__xs
                .is-col.is-col__sm-6.is-col__xs-12
                  .is-row.middle__xs.margbot30
                    .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                      img(src='images/card-mat-1.png', alt='')
                    .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                      p: .masterTooltip(title='This will show up in the tooltip') Фасад
                      p.text__sm.text--grey МДФ облицованная ПВХ
                .is-col.is-col__sm-6.is-col__xs-12
                  .is-row.middle__xs.margbot30
                    .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                      img(src='images/card-mat-2.png', alt='')
                    .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                      p: .masterTooltip(title='This will show up in the tooltip') Другой материал
                      p.text__sm.text--grey Пластик с завалом
                .is-col.is-col__sm-6.is-col__xs-12
                  .is-row.middle__xs.margbot30
                    .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                      img(src='images/card-mat-3.png', alt='')
                    .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                      p: .masterTooltip(title='This will show up in the tooltip') Корпус, цоколь, заглушки
                      p.text__sm.text--grey ЛДСП
  section.card-deliver
    .container
      .is-row.relative
        .card-deliver--line
          img(src='images/icons/deliv-line.svg', alt='') 
        .is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.bg--primary.text--white.card-deliver__item
            .card-deliver__icon.card-deliver__icon--white
              i.is-icons.is-icons--deliv-1
            .card-deliver__txt.first__xs.last__md
              p.text__lg Посредством отправки интернет-заявки Вы вызываете на дом мобильную бригаду в составе дизайнера-конструктора и дизайнера по мебели. 
        .is-col.is-col__lg-7.is-col__md-6.is-col__xs-12.bg--grey.card-deliver__item.text__md--left.text--center.card-deliver__item--title
            h3.light Вы можете получить мебель #[br] своей мечты, не выходя из дома
        .is-col__lg-9.is-col__md-10.centered-block
          .card-deliver-items.is-row.between__xs
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-2
                p Выбираем модель
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-3
                p Вызываем мобильную бригаду
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-4
                p Выбор материалов и цвета
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item
                .card-deliver__icon.card-deliver__icon--line
                  i.is-icons.is-icons--deliv-5
                p Мебель отдается в производство              
          ul.list--inline.margtop30.text--center
            li: p: a.btn.btn--width.btn__md.btn--primary(href='#') Рассчитать
            li: p: a.btn.btn--width.btn__md.btn--outlined(href='#') Записатьcя в салон  
  include ../components/_card-bot
  section.catalog.catalog-slider
    .container
      .title.text--center
        h2 Другие прихожие в современном стиле
      .catalog-inner
        .slider
          - for (var x = 1; x < 5; x++)
            a.catalog__item(href='#')
              .catalog__item-img
                img(src='images/card-fur-3.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Токио»
                      .catalog__item-info-price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
            a.catalog__item(href='#')
              .catalog__item-img
                img(src='images/card-fur-4.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Арт-Деко»
                      .catalog__item-info-price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
  include ../components/_advantages-sc
