main.page-main
  include ../components/_breadcrumbs-d
  section.card.card-main
    .container.container--fullwidth
      .card-main__elem.relative
        .card-main__elem-img
          .slider-project-autow
            - for (var x = 1; x < 6; x++)
              div: img(src='images/card-sale.jpg', alt='')        
        .card-main__info
          .card-main__info-head только на Кантемировской, 37
          .card-main__info-body
            p Современный стиль
            h3 Кухня «Токио»
            .sale -70%
            .price
              span.price-old 168 800 р.
              span.price-new 108 867 р.
            a.text--grey.text__sm(href='#') Возможна рассрочка
            .margtop30
              p: a.btn.btn--full.btn__md.btn--primary(href='#') Рассчитать кухню
              p: a.btn.btn--full.btn__md.btn--outlined(href='#') Записатьcя в салон
  include ../components/_card-feature
  section.designs-notice
    .container      
      .slider-notice        
        - for (var x = 1; x < 6; x++)
          div
            .is-col__md-6.is-col__sm-8.centered-block
              span Япония, страна вековых традиций и высоких технологий, вдохновила нас на создание этой кухни в стиле модерн. Характерные национальные элементы гармонично сочетаются с современной цветовой гаммой («лайм», «олива» или «лиственница»). Корпуса цвета «венге» выполнен из ламинированной ДСП, фасад — из МДФ.
  section.card-collect
    .container   
        .is-col__lg-8.centered-block
          .is-row.middle__xs
            .is-col.is-col__sm-7.is-col__xs-12
              img(src='images/card-sub.jpg', alt='')
            .is-col.is-col__sm-4.is-col__xs-12
              .card-collect-info
                p Современный стиль
                h3 Кухня «Токио»
                .price
                  span.price-new 108 867 р.
                .margtop30
                  a.text--primary.text__sm(href='#') Посмотреть
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3 Кухню «Токио» можно посмотреть в следующих салонах
        span 02
  section.objects
    .container.container--fullwidth
      .is-row.is-row--null
        .is-col.is-col__lg-4.is-col__md-5.objects-left.is-col__xs-12
          .objects-header.is-row.is-row--null
            .is-col.is-col__md-6.is-col__xs-12
              a.btn.btn--full.btn--primary.btn__lg.btn--full(href='#') Санкт-Петербург
            .is-col.is-col__md-6.is-col__xs-12
              select.control.control__lg 
                option(default) Выберите город
                option Санкт-Петербург
                option Москва
          .objects-body
            .objects-body-inner
              - for (var x = 1; x < 5; x++)
                .objects-body__item
                  .objects-body__item-subway
                    .ico.ico--blue
                    span м. Фрунзенская
                  .objects-body__item-address  Московский пр., 79
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_mos79@1mf.ru
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Пн-Пт: 10:00-20:00
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Сб-Вс: 10:00-20:00
                .objects-body__item
                  .objects-body__item-subway
                    .ico.ico--green
                    span м. Приморская
                  .objects-body__item-address В.О. Уральская ул. 17
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_uralskaya@1mf.ru
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__xs-12 Ежедневно: 10:00 до 20:00 #[span.text--grey (без перерыва)]
                .objects-body__item
                  .objects-body__item-subway
                    .ico.ico--red
                    span м.Старая Деревня
                  .objects-body__item-address Мебельная ул., д.1  #[br] МЦ «Мебель Сити» (1 этаж)
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-30
                    .objects-body__item-info.is-col.is-col__sm-6.is-col__xs-12 E-mail: salon_uralskaya@1mf.ru
                  .objects-body__item-infos.is-row.is-row--null
                    .objects-body__item-info.is-col.is-col__xs-12 Ежедневно: 10:00 до 20:00 #[span.text--grey (без перерыва)]
        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12.objects-right
          .objects-map
            img(src='images/card-map.jpg', alt='')
  section.contacts-title
    .container
      .title.text--center
        h2 Другие кухни в современном стиле
        span 04
  section.catalog.catalog-slider
    .container
      .catalog-inner
        .slider
          - for (var x = 1; x < 5; x++)
            a.catalog__item(href='#')
              .catalog__item-name.catalog__item-name--left Токио
              .catalog__item-img
                img(src='images/catalog-1.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Токио»
                      .catalog__item-info-price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
            a.catalog__item(href='#')
              .catalog__item-name.catalog__item-name--right Арт-Деко
              .catalog__item-img
                img(src='images/catalog-2.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Арт-Деко»
                      .catalog__item-info-price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
  include ../components/_advantages-sc
