main.page-main
  include ../components/_breadcrumbs
  section.catalog-all
    .container
      .title.title--mid.text--center
        h3 Все кухни
        span Все
      .catalog-all-inner.is-row.is-row--null
        a(href='#').catalog-all__item.is-col.is-col__md-6.is-col__xs-12
          .catalog-all__item-img
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/cat-1.jpg', alt='')
          .catalog-all__item-name
            h3 Современные кухни
        a(href='#').catalog-all__item.is-col.is-col__md-6.is-col__xs-12
          .catalog-all__item-img
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/cat-2.jpg', alt='')
          .catalog-all__item-name
            h3 Классические кухни
        a(href='#').catalog-all__item.is-col.is-col__md-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-3.jpg', alt='')
          .catalog-all__item-name
            h3 Распродажа
        a(href='#').catalog-all__item.is-col.is-col__md-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-4.jpg', alt='')
          .catalog-all__item-name
            h3 Дисконт-центр
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-5.jpg', alt='')
          .catalog-all__item-name
            h4 Кухни «Прованс»
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-6.jpg', alt='')
          .catalog-all__item-name
            h4 Угловые кухни
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-7.jpg', alt='')
          .catalog-all__item-name
            h4 Кухни из МДФ
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-8.jpg', alt='')
          .catalog-all__item-name
            h4 Кухни из пластика
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-9.jpg', alt='')
          .catalog-all__item-name
            h4 Кухни для студии
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-10.jpg', alt='')
          .catalog-all__item-name
            h4 Маленькие кухни
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-11.jpg', alt='')
          .catalog-all__item-name
            h4 Прямые кухни
        a(href='#').catalog-all__item.is-col.is-col__md-3.is-col__sm-6.is-col__xs-12
          .catalog-all__item-img
            img(src='images/cat-12.jpg', alt='')
          .catalog-all__item-name
            h4 Кухни с большой стойкой
  include ../components/_types-bl
