main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Мебель
  section.catalog-grand
    .container
      .filter
        .filter-inner
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Любой возможный фильтр
                option Любой возможный фильтр            
          .filter__item.is-col__lg-3
            .form__group.is-col__md-6.is-col__xs-12
              .checkbox
                input(type='checkbox', name='add123', id='add123')
                label(for='add123') 
                  | Распродажа &nbsp;
                  sup: img(src='images/storm.png', alt='')                    
            .form__group.is-col__md-6.is-col__xs-12
              select.control.control--nob
                option Сортировать по:
                option Сортировать по:  
      .catalog-inner.catalog-inner--main
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-19.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Токио»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-20.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8 
                    span Прихожая «Арт-Деко»
                    .text__md Популярная модель, в современном стиле, отличающаяся богатством цветовых и текстурных сочетаний.
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-old 168 800 р.
                    .price-new 108 867 р.
            .catalog__item-info-sale.catalog__item-info-sale--fur -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-21.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Дуэт»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-22.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Арт-Деко»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-23.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Токио»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-24.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Арт-Деко»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
                    .price-old 168 800 р.
            .catalog__item-info-sale.catalog__item-info-sale--fur -50%
      .text--center.show-more.margtop100
        a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
      .catalog-inner.catalog-inner--main(style='display:none')
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-19.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Токио»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-20.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8 
                    span Прихожая «Арт-Деко»
                    .text__md Популярная модель, в современном стиле, отличающаяся богатством цветовых и текстурных сочетаний.
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-old 168 800 р.
                    .price-new 108 867 р.
            .catalog__item-info-sale.catalog__item-info-sale--fur -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-21.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Дуэт»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-22.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Арт-Деко»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-23.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Токио»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                div: img(src='images/catalog-24.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col.is-col__xs-8
                    span Прихожая «Арт-Деко»
                    .text__md Модель кухни несет настроение стиля Ар-деко, для которого характерна строгая закономерность... 
                  .catalog__item-info-price.price.is-col.is-col__xs-4
                    .price-new 108 867 р.
                    .price-old 168 800 р.
            .catalog__item-info-sale.catalog__item-info-sale--fur -50%  
  include ../components/_fur-info
  include ../components/_advantages-sc
