main.page-main
  include ../components/_breadcrumbs-d
  section.catalog-grand
    .container
      .is-row.center__xs.margbot80
        .is-col.is-col__lg-3: h3.light: a.text--primary(href='#') Современные кухни
        .is-col.is-col__lg-3: h3.light: a(href='#') Классические кухни
      .filter
        .filter-inner
          .filter__item.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
            .form__group.is-col__xs-12
              select.control.select-ico
                option(value="mat-sel") МДФ, облицованная акрилом
                option(value="mat-sel") МДФ, облицованная 
          .filter__item
            .form__group
              select.control.control--nob
                option Сортировать по:
                option Сортировать по:          
      .catalog-inner.catalog-inner--main
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-13.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-14.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-15.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')
          .catalog__item-img
            img(src='images/catalog-16.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-17.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-18.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
      .text--center.show-more.margtop100
        a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
      .catalog-inner.catalog-inner--main(style='display:none')
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')      
            .catalog__item-img  
              .notice.notice--primary sale
              img(src='images/catalog-2.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Арт-Деко»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
                .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
          a.catalog__item(href='#')      
            .catalog__item-img  
              .notice.notice--primary sale
              img(src='images/catalog-2.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Арт-Деко»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
                .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
          a.catalog__item(href='#')
            .catalog__item-img
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
  include ../components/_types-bl
