main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Кухни
  section.catalog-grand
    .container
      .filter
        .filter-inner
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Стиль
                option Стиль
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Вид планировки
                option Вид планировки
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Цвет
                option Цвет
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Цвет фасада
                option Цвет фасада
          .filter__item
            .form__group.is-col__xs-12
              select.control
                option Дополнительно 
                option Дополнительно 
          .filter__item.last__md
            .form__group.is-col__xs-12
              select.control.control--nob
                option Сортировать по:
                option Сортировать по:                
          .filter__item
            .form__group.is-col__xs-12
              .checkbox
                input(type='checkbox', name='add', id='add')
                label(for='add') 
                  | Распродажа &nbsp;
                  sup: img(src='images/storm.png', alt='')
      .catalog-inner.catalog-inner--main
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-7.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-8.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-9.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')
          .catalog__item-img
            img(src='images/catalog-10.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-11.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-12.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
      .text--center.show-more.margtop100
        a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
      .catalog-inner.catalog-inner--main(style='display:none')
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')      
            .catalog__item-img  
              .notice.notice--primary sale
              img(src='images/catalog-2.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Арт-Деко»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
                .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
          a.catalog__item(href='#')      
            .catalog__item-img  
              .notice.notice--primary sale
              img(src='images/catalog-2.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Арт-Деко»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
                .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
          a.catalog__item(href='#')
            .catalog__item-img
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
          a.catalog__item(href='#')
            .catalog__item-img
              .notice.notice--default new
              img(src='images/catalog-7.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__xs-12
                  .is-row.between__xs.is-col__xs-12
                    .catalog__item-info-title.is-col Кухня «Токио»
                    .catalog__item-info-price.price.is-col
                      span.price-old 168 800 р.
                      span.price-new 108 867 р.
  include ../components/_fur-info
  include ../components/_advantages-sc
