main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3 Адреса и контакты
        span Контакты
  section.contacts
    .container
      .is-col__lg-9.centered-block
        .is-row.stretch__xs
          .is-col.is-col__md-6.is-col__xs-12.contacts-column
            .contacts__item
              p.text--grey.text__md Адрес Главного офиса
              p.text__lg
                i.is-icons.is-icons--cont-loc
                span 197374, Санкт-Петербург, Мебельный проезд, д. 4 
            .contacts__item
              p.text--grey.text__md Наш телефон
              p.text__lg 
                i.is-icons.is-icons--cont-phone
                span 8 (800) 297-09-89
            .contacts__item
              .is-row.between__xs
                .is-col.is-col__md-6
                  p.text--grey.text__md E-mail
                  p.text__lg 
                    i.is-icons.is-icons--cont-mail
                    span info1mf@1mf.ru
                .is-col.is-col__md-6
                  p.text--grey.text__md Наши реквизиты
                  a.text__lg.text--primary(href='#')
                    i.is-icons.is-icons--cont-link
                    span Скачать реквизиты
            .m-auto.hidden__sm.hidden__xs
              a.btn.btn__md.btn--primary(href='#') Адреса салонов продаж
          .is-col.is-col__md-6.is-col__xs-12.contacts-column
            p.text--grey.text__md Написать нам
            form(action="" method="method")
              .form__group
                input.control(type='text', placeholder='Ваше имя', required)  
              .form__group
                input.control(type='email', placeholder='Ваша почта для ответа', required)  
              .form__group
                textarea.control(rows='10', placeholder='Ваше сообщение', required)  
              .m-auto
                button.btn.btn__md.btn--outlined(type='submit') Отправить 
