main.page-main
  include ../components/_breadcrumbs-d
  section.card-main
    .container.container--fullwidth
      .is-row.is-row--null.card-main__elem.relative
        .is-col.is-col__md-6.is-col__xs-12
          .card-main__elem-img
            .slider-project              
              - for (var x = 1; x < 6; x++)
                img(src="images/contact.jpg", alt='')
                //- div(style='background:url("images/contact.jpg") no-repeat center center / cover;height:770px')
        .is-col.is-col__md-6.is-col__xs-12
          .objects-map
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap1", defer, async)
            #map1(style='height:748px') 
          .card-main__info.card-main__info--md
            .card-main__info-body
              p Санкт-Петербург
              h3 Московский пр., 79
              ul.list--inline
                li
                  .objects-body__item-subway
                    .ico.ico--blue
                    span м. Фрунзенская
                li: a.location-link(href='#')
                  .objects-body__item-subway.text__sm
                    i.icon-location-2
                    span.text--primary Проложить маршрут
              .card-main__info-line
                p.text__md Тел: +7 (812) 244-37-36
                p.text__md E-mail: salon_mos79@1mf.ru
              .card-main__info-line
                p.text__md Пн-Пт: 10:00-20:00
                p.text__md Сб-Вс: 10:00-20:00
              .margtop30
                a.btn.btn--full.btn__md.btn--primary(href='#') Записатьcя в салон
