main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h2= title
        span Клиентам
      .catalog-inner
        .is-row.is-row--null
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/clients-1.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Отели и гостиницы
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/clients-2.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Госучреждения
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/clients-3.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Строительные компании
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
          .is-col.is-col__md-6.is-col__xs-12
            a.catalog__item.catalog__item--sm(href='#')
              .catalog__item-img
                img(src='images/clients-4.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Офисная мебель
                  .catalog__item-info-sale.is-col.is-col__xs-3 
                    img(src='images/icons/more.png', alt='')
                    span Посмотреть   
  
