main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .title.title--mid.text--center
        h3= title
        span Доставка
  section.designs-notice
    .container
      span Важно не только изготовить приятную качественную мебель, но и довезти ее по адресу #[br] и грамотно установить. Только так она будет смотреться, как и было задумано
  section.delivery-types
    .container
      .is-row
        .is-col.is-col__md-4.is-col__xs-12.delivery-types__item
          .delivery-types__item-ico
            .is-icons.is-icons--delivery-1
          .delivery-types__item-title
            h3.light Чистая установка
          .delivery-types__item-desc
            p.text__sm Весь упаковочный материал и прочий мусор #[br] будет убран по завершению монтажа
        .is-col.is-col__md-4.is-col__xs-12.delivery-types__item
          .delivery-types__item-ico
            .is-icons.is-icons--delivery-2
          .delivery-types__item-title
            h3.light Опыт рабочих от 8-ми лет
          .delivery-types__item-desc
            p.text__sm Установят вашу кухню быстро и качественно
        .is-col.is-col__md-4.is-col__xs-12.delivery-types__item
          .delivery-types__item-ico
            .is-icons.is-icons--delivery-3
          .delivery-types__item-title
            h3.light Бесплатное подключение бытовой техники
          .delivery-types__item-desc
            p.text__sm Мы ценим Ваше время. Быстрое и легкое оформление рассрочки прямо во время оформления договора у нас в офисе или прямо у вас дома
  section.delivery-elem
    .container.container--fullwidth
      .is-row.is-row--null.middle__xs
        .is-col.is-col__md-6.is-col__xs-12
          .delivery-elem-img
            img(src='images/delivery-1.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12
          .delivery-elem-inner
            .delivery-elem-title
              h3.light Доставка
            .delivery-elem-desc.text__lg
              p Чтобы каждая деталь готовой кухни прибыла к вам в идеальном виде, мы аккуратно упаковываем мебель на фабрике и защищаем от любых возможных повреждений при транспортировке.
              p Мы доставим вашу мебель в любое время с понедельника по пятницу. Если вы работаете в течение недели, вы можете отдельно договориться о доставке в субботу. Перед тем как выехать к вам наши специалисты проверяют комплектность вашей кухни, чтобы не забыть ни одну деталь.
      .is-row.is-row--null.middle__xs        
        .is-col.is-col__md-6.is-col__xs-12.last__md
         .delivery-elem-img
           img(src='images/delivery-2.jpg', alt='')
        .is-col.is-col__md-6.is-col__xs-12
          .delivery-elem-inner
            .delivery-elem-title
              h3.light Сборка и установка
            .delivery-elem-desc.text__lg
              p Наши специалисты аккуратно установят все модули кухни и подключат технику за 5 часов. Убедятся, что верхние и нижние стеллажи на одном уровне, техника работает исправно и вам все нравится.
              p Аккуратный монтаж, правильное подключение интегрированной техники и установка модулей с соблюдением всех нормативов гарантируют безупречное качество и эксплуатационную надежность готовой кухни.      
