main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .title.title--mid.text--center
        h3 Дизайнерам интерьеров
        span Дизайн
  section.designs-notice
    .container
      p Мы рассматриваем работу с дизайнерами и дизайн-студиями как партнерство: #[br] обмениваемся опытом в своих отраслях и вместе решаем новые, интересные и порой сложные задачи
      a.btn.btn__md.btn--primary(href='#') Сотрудничать
  section.designs-about
    .container
      .is-row.bottom__xs.center__xs
        .is-col.is-col__lg-5.is-col__md-6.is-col__xs-12
          img(src='images/design.jpg', alt='')
        .is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
          .designs-about-txt
            p Руководитель проекта Холдинга Первая мебельная фабрика
            h3 Сергей Борисов
            blockquote 
              p Мы работаем, чтобы вам было с нами легко и удобно: посетите один из наших 15 салонов во всех районах города, приходите на ежеквартальные презентации новых коллекций, пройдите экскурсию по фабрике, получите каталоги и образцы для ваших проектов, когда они вам нужны.
              p Буду рад увидеть вас в салонах «Первой мебельной» фабрики и приложу максимум усилий, чтобы наше сотрудничество было приятным и полезным.
  section.designs-works
    .container
      .title.title--mid.text--center
        h3 Примеры наших работ
        span Работы
      .is-col__lg-11.centered-block
        .slider
          - for (var x = 1; x < 5; x++)
            .catalog__item.catalog__item--grey
              .catalog__item-img
                div: img(src='images/catalog-5.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Квартира Ивана и Елены 
                        .text__md Кухня «Токио»
                        span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                        span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')
                    img(src='images/icons/more.png', alt='')
                    span Подробнее
            .catalog__item.catalog__item--grey
              .catalog__item-img
                div: img(src='images/catalog-6.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Квартира Ивана и Елены 
                        .text__md Кухня «Токио»
                        span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                        span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')
                    img(src='images/icons/more.png', alt='')
                    span Подробнее
  section.designs-notice
    .container
      p Вы можете заполнить заявку на сотрудничество. #[br] Мы свяжемся с Вами в ближайшее время
  section.designs-form
    .container
      .is-col__lg-9.centered-block
        .forms
          form(action="" method="method")
            .is-row.between__xs
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label ФИО
                  input.control(type='text', placeholder='Белоусов Ян Аристархович')
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Направление деятельности
                  select.control
                    option Дизайн интерьеров
                    option Дизайн интерьеров
                    option Дизайн интерьеров
                    option Дизайн интерьеров
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Ваш телефон
                  input.control(type='text', placeholder='+7 (905) 123-45-69')
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Свой вариант
                  input.control(type='text', placeholder='Например, деревообработка')
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Ваш E-mail
                  input.control(type='email', placeholder='info@fabrika.ru')
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Откуда вы узнали о компании?
                  select.control
                    option Реклама в СМИ
                    option Реклама в СМИ
                    option Реклама в СМИ
                    option Реклама в СМИ
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Организационная форма работы
                  +fieldRadio('org', 'id1', 'Организационная форма работы', false)
                  .radio
                      input(type="radio", id='id2', value=id, name='org', checked)
                      label(for='id2') 
                        | На предприятии
                        input.control(type='text', placeholder='Название предприятия')
                  //- +fieldRadio('org', 'id2', 'На предприятии', true)
              .is-col.is-col__md-6.is-col__xs-12
                .form__group
                  label Дополнительная информация
                  textarea.control(rows='5', placeholder='Дизайнер интерьеров')
            .is-row.center__xs
              .is-col.is-col__sm-5.is-col__xs-12
                button.btn.btn__md.btn--full.btn--primary(type='submit') Отправить заявку
