main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .text--center
        h5 Кухня «Токио»
      .title.title--mid.text--center
        h3= title
        span Кухня
  section.card.card-main
    .container.container--fullwidth
      .card-main-title.text--center
        h4.light.marbot0 Небольшой подзаголовок о проекте
      .slider-project              
        - for (var x = 1; x < 6; x++)
          div: img(src='images/flat.jpg', alt='')
  section.card-composition
    .container.container--fullwidth
      .is-row.middle__xs
        .is-col.is-col__md-4.is-col__xs-6.card-composition__item
          .card-composition__item-info
            h3 Материал фасада
            .card-composition__item-elem
              .is-row.middle__xs.margbot30
                .is-col.is-col__lg-3.is-col__sm-4.is-col__xs-3
                  img(src='images/card-mat-1.png', alt='')
                .is-col.is-col__lg-9.is-col__sm-8.is-col__xs-9
                  p Материал
                  p.text__sm.text--grey МДФ облицованная ПВХ            
        .is-col.is-col__xs-6.card-composition__item
          .card-composition__item-info
            h3 Габариты
            .card-composition__item-elem.card-composition__item-elem--m
              .is-row
                .is-col.is-col__md-3.is-col__xs-12
                  div Длина #[span.text__sm.text--grey (см)]
                  div 2000
                .is-col.is-col__md-3.is-col__xs-12
                  div Ширина #[span.text__sm.text--grey (см)]
                  div 1000
                .is-col.is-col__md-3.is-col__xs-12
                  div Глубина #[span.text__sm.text--grey (см)]
                  div 500
  section.designs-title
    .container
      .title.title--mid.text--center
        h3 Встроенная техника
        span Техника
  include ../components/_card-inc
  include ../components/_designers 
  include ../components/_card-collect
  section.card-calc
    .container
      .is-col__lg-6.is-col__md-8.centered-block
        .is-row.middle__xs.card-calc-inner
          .is-col.is-col__xs-4
            .card-calc__item
              i.is-icons.is-icons--tech-1
              p Гарантия #[br] 10 лет
          .is-col.is-col__xs-4
            .card-calc__item
              i.is-icons.is-icons--tech-2
              p Бесплатная #[br] доставка
          .is-col.is-col__xs-4
            .card-calc__item
              i.is-icons.is-icons--tech-3
              p Изготовим #[br] за 18 дней
      .text--center
        .is-row.margtop30.center__xs 
          p.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12: a.btn.btn--full.btn__md.btn--primary(hre='#') Рассчитать цену под ваш размер
          p.is-col.is-col__lg-2.is-col__md-3.is-col__sm-6.is-col__xs-12: a.btn.btn--full.btn__md.btn--outlined(hre='#') Вызвать замерщика
  include ../components/_advantages-sc
