main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .title.title--mid.text--center
        h3= title
        span Мебель
  section.card.card-menu
    .container
      .is-col__lg-7.is-col__md-10.centered-block
        .is-row
          .is-col.is-col__md-3.is-col__xs-6
            nav.menu-catalog.list--unstyled 
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-1
                  span Прихожие
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-2
                  span Гостиные
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-3
                  span Буфеты
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-4
                  span Комоды
          .is-col.is-col__md-3.is-col__xs-6
            nav.menu-catalog.list--unstyled 
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-5
                  span Библиотеки
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-6
                  span Компьютерные столы
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-7
                  span Спальни
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-8
                  span Матрасы
          .is-col.is-col__md-3.is-col__xs-6
            nav.menu-catalog.list--unstyled 
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-9
                  span Обеденные группы
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-10
                  span Обеденные столы
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-11
                  span Столы в гостиную
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-12
                  span Стулья для дома
          .is-col.is-col__md-3.is-col__xs-6
            nav.menu-catalog.list--unstyled 
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-13
                  span Стулья для кафе              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-14
                  span Кресла
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    img(src='images/icons/cat-ico-15.png', alt='')
                  span Барные стулья
              li.menu-catalog__item
                a.menu-catalog__link(href='#')
                  .menu-catalog__ico
                    i.is-icons.is-icons--cat-ico-16
                  span Детские кресла                  
  include ../components/_fur-info
  include ../components/_advantages-sc
