main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Отели        
  section.designs-notice
    .container
      p Мы рассматриваем работу с дизайнерами и дизайн-студиями как партнерство: #[br] обмениваемся опытом в своих отраслях и вместе решаем новые, интересные и порой сложные задачи
      a.btn.btn__md.btn--primary(href='#') Сотрудничать      
  include ../components/_hotel-works
  section.hotel-projects
    .container
      .title.title--mid.text--center
        h3 Реализованные проекты
        span Проекты
      .is-col__lg-10.centered-block
        .is-row.is-row--null.catalog-inner
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-5.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Оздоровительный комплекс «Дагомыс»
                        .text__sm Мебель для номерного фонда и общественных зон гостиницы
                  a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')
                    img(src='images/icons/more.png', alt='')
                    span Подробнее
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-6.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Санаторий «Сочи»
                        .text__sm Холл с зоной ресепшен, ресторан, библиотека, кинозал, а также детская комната, кафе, нижний холл с баром...
                  a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')                 
                    img(src='images/icons/more.png', alt='')
                    span Подробнее          
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-7.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Гостиница «Спутник», Санкт-Петербург
                        .text__sm Холл с зоной ресепшен, ресторан, библиотека, кинозал, а также детская комната, кафе, нижний холл с баром...
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')                 
                    img(src='images/icons/more.png', alt='')
                    span Подробнее          
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-8.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Отель Park Inn, Санкт-Петербург
                        .text__sm Мебель для номерного фонда и общественных зон гостиницы
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')                 
                    img(src='images/icons/more.png', alt='')
                    span Подробнее          
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-9.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Санаторий «Сочи»
                        .text__sm Холл с зоной ресепшен, ресторан, библиотека, кинозал, а также детская комната, кафе, нижний холл с баром...
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')                 
                    img(src='images/icons/more.png', alt='')
                    span Подробнее          
          .is-col.is-col__md-6.is-col__xs-12
            .catalog__item.catalog__item--grey.catalog__item--default
              .catalog__item-img
                .slider-project
                  - for (var x = 1; x < 5; x++)
                    div: img(src='images/hotel-11.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.middle__xs.is-col__xs-12
                      .catalog__item-info-title.is-col 
                        | Санаторий «Сочи»
                        .text__sm Холл с зоной ресепшен, ресторан, библиотека, кинозал, а также детская комната, кафе, нижний холл с баром...
                  a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')                 
                    img(src='images/icons/more.png', alt='')
                    span Подробнее          
        ul.list--inline.text--center.hotel-projects__btn
          li: p: a.btn.btn__lg.btn--primary.text--uppercase(href='#') стать партнером
          li: p: a.btn.btn__lg.btn--outlined.text--uppercase(href='#') ПОКАЗАТЬ ЕЩЕ +
