main.page-main
  section.banner
    .container
      .slideshow
        - for (var x = 1; x < 5; x++)
          .slideshow__item
            .slideshow__item-l
              .slideshow__item-title
                | Скидка
                span  30%
              .hidden__sm.hidden__xs
                a.btn.btn--info.btn__lg.text--uppercase(href='#')
                  span Смотреть подробнее
                  i.icon-btn-arr
              .slideshow__item-adv.hidden__xs.hidden__sm
                img(src='images/logo-lenta.png', alt='')
            .slideshow__item-r
              img(src='images/slide-1.jpg', alt='')
            .slideshow__item-adv.hidden__md.hidden__lg
              img(src='images/logo-lenta-m.png', alt='')
  section.const.hidden__sm.hidden__xs
    .container.text--center
        .const-img: img(src="images/scheme.png", alt="")
        .const-btn
          a.btn.btn--primary.btn__lg(href='#') Конструктор кухни
  section.catalog.catalog-slider
    .container
      .title.text--center
        h2 Популярные кухни
        span 01
      .catalog-inner
        .slider
          - for (var x = 1; x < 5; x++)
            a.catalog__item(href='#')
              .catalog__item-name.catalog__item-name--left Токио
              .catalog__item-img
                img(src='images/catalog-1.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Токио»
                      .catalog__item-info-price.price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
            a.catalog__item(href='#')
              .catalog__item-name.catalog__item-name--right Арт-Деко
              .catalog__item-img
                img(src='images/catalog-2.jpg', alt='')
                .catalog__item-info.is-row.stretch__xs
                  .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                    .is-row.between__xs.is-col__xs-12
                      .catalog__item-info-title.is-col Кухня «Арт-Деко»
                      .catalog__item-info-price.price.is-col
                        span.price-old 168 800 р.
                        span.price-new 108 867 р.
                  .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
  section.projects
    .container
      .is-row.stretch__xs.between__xs
        .projects-left.is-col.is-col__lg-4.is-col__md-4.is-col__xs-12
          .line.line--projects-l
            img(src="images/line-r.svg", alt="alt")
          .projects-title.title
            h2 Последние реализованные проекты
            span 02
          .projects-txt.is-col__lg-10
            p.text__lg Наша компания предлагает различные стилевые решения комфортабельных и функциональных кухонь - от классики до хай-тека.
          .projects-link
            a.btn-link.text--uppercase(href='#')
              | Смотреть все &nbsp;
              i.is-icons.is-icons--nobtn-arr
        .projects-right.is-col.is-col__lg-7.is-col__md-8.is-col__xs-12
          .line.line--projects-r
            img(src="images/line-l.svg", alt="alt")
          .catalog__item.catalog__item--grey.catalog__item--mnull
            .catalog__item-img
              .slider-project
                - for (var x = 1; x < 5; x++)
                  div: img(src='images/catalog-3.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-col__xs-12.is-row.middle__xs.between__xs.is-col
                    .catalog__item-info-title
                      | Квартира Ивана и Елены
                      .text__md Кухня «Токио»
                    .catalog__item-info-desc
                      span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                      span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')
                  img(src='images/icons/more.png', alt='')
                  span Подробнее
          .catalog__item.catalog__item--grey.catalog__item--mnull
            .catalog__item-img
              .slider-project
                - for (var x = 1; x < 5; x++)
                  div: img(src='images/catalog-4.jpg', alt='')
              .catalog__item-info.is-row.stretch__xs
                .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                  .is-col__xs-12.is-row.middle__xs.between__xs.is-col
                    .catalog__item-info-title
                      | Квартира Петра и Ольги
                      .text__md Кухня «Арт-Деко»
                    .catalog__item-info-desc
                      span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                      span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                a.catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3(href='#')
                  img(src='images/icons/more.png', alt='')
                  span Подробнее
  include ../components/_advantages-bl
  section.projects.projects--last.hidden__sm.hidden__xs
    .container
      .is-row.stretch__xs.between__xs
        .projects-left.is-col.is-col__lg-4.is-col__md-4.is-col__xs-12
          .line.line--projects-l
            img(src="images/line-r.svg", alt="alt")
          .projects-title.title
            h2 О фабрике
            span 04
          .projects-txt.is-col__lg-10
            p.text__lg Уходя своей историей в далекий 1945 год, «Первая мебельная» фабрика прошла проверку временем.
            p.text__lg Мы делали качественную мебель и улучшали технологии. Сейчас мы предлагаем кухни, произведенные в Санкт-Петербурге на швейцарском оборудовании.
          .projects-link
            a.btn-link.text--uppercase(href='#')
              | Читать Полностью &nbsp;
              i.is-icons.is-icons--nobtn-arr
        .projects-right.is-col.is-col__lg-7.is-col__md-8.is-col__xs-12
          .line.line--projects-r
            img(src="images/line-l.svg", alt="alt")
          .term
            .term-txt
              .term-num 21
                span день
              .term-day срок
              .term-off производства
            img(src="images/scheme-1.png", alt="alt")
            .term-logo
              img(src="images/about-logo.png", alt="alt")
  section.objects
    .container.container--fullwidth
      .is-row.is-row--null
        .is-col.is-col__lg-4.is-col__md-5.objects-left.is-col__xs-12
          .objects-header.is-row.is-row--null
            .is-col.is-col__md-6.is-col__xs-12
              a.btn.btn--primary.btn__lg.btn--full(href='#') Санкт-Петербург
            .is-col.is-col__md-6.is-col__xs-12
              select.control.control__md
                option(default) Выберите город
                option Санкт-Петербург
                option Москва
          .objects-body
            .objects-body-inner
              .objects-body__item#section1(data-adr='59.91701049, 30.31812429')
                .objects-body__item-subway
                  .ico.ico--blue
                  span м. Фрунзенская
              .objects-body__item#section2(data-adr='59.91756978, 30.31812429')
                .objects-body__item-subway
                  .ico.ico--blue
                  span м. Фрунзенская
              .objects-body__item#section3(data-adr='59.92049517, 30.33250093')
                .objects-body__item-subway
                  .ico.ico--green
                  span м. Приморская
              .objects-body__item#section4(data-adr='59.91701049, 30.3276515')
                .objects-body__item-subway
                  .ico.ico--red
                  span м.Старая Деревня
              .objects-body__item#section5(data-adr='59.91916157, 30.3251195')
                .objects-body__item-subway
                  .ico.ico--red
                  span м.Старая Деревня
        .is-col.is-col__lg-8.is-col__md-7.is-col__xs-12.objects-right
          .objects-map
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
            #map
          .objects-btn
            a.btn.btn__md.btn--warning(href='#') Найти ближайший салон
  include ../components/_types-bl
