main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Рассрочка
  section.designs-notice
    .container
     span Простые условия кредитования помогут вам воплотить все идеи по обустройству кухни, #[br] а отсутствие переплаты сделает покупку еще более приятной.
  section.pay
    .container
      .is-col__lg-11.centered-block
        .is-row.top__xs.center__xs
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-4
            h3 Рассрочка – это выгодно
            p.text__sm Вам не нужно собирать документы и терять свое время в очередях. Вам выплачивать банку высокие проценты.
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-5
            h3 Рассрочка – это безопасно
            p.text__sm Мы работаем только с самыми надежными банками. Вы защищены от денежных потерь или утечки личной информации
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-6
            h3 Рассрочка – это быстро
            p.text__sm Мы ценим Ваше время. Быстрое и легкое оформление рассрочки прямо во время оформления договора у нас в офисе или прямо у вас дома
  section.fur-info.fur-info--md
    .container
      .is-col__lg-9.is-col__md-10.centered-block
        .fur-info-inner.fur-info-inner--pure
          .fur-info__item
            h3 Не копите. Воплоти свою мечту прямо сейчас!
            h4 Простые условия кредитования помогут вам воплотить все идеи по обустройству кухни, а отсутствие переплаты сделает покупку еще более приятной
            p.text__lg Рассрочка предоставляется в виде оформления потребительского кредита. Компания «Первая Мебельная фабрика» предоставляет скидку на товар в размере суммы процентов, в связи с чем сумма, подлежащая выплате Банку, не превышает стоимость товара.
        .text--center.margtop30
          a.btn.btn__md.btn--outlined(href='#') Получить консультацию
          .partners-list
            h3.light Мы сотрудничаем со следующими банками
            .is-row.center__xs.middle__xs.list--border.text--center
              .is-col.is-col__xs-3.list--border__item
                img(src='images/bank-1.jpg', alt='')
              .is-col.is-col__xs-3.list--border__item
                img(src='images/bank-2.jpg', alt='')
              .is-col.is-col__xs-3.list--border__item
                img(src='images/bank-3.jpg', alt='')
  section.bg--grey.calc-form
    .container
      .is-col__lg-6.is-col__md-7.centered-block
        .text--center
          h3.light Воспользуйтесь калькулятором для расчета
        .calc.calc--js
          form(action="" method="method")
            .form__group.is-col__lg-9
              p.text--grey.text__md Сумма покупки
              input.control.control__lg.calc-count--js.number--js(type='text', value='0')
            .is-row
              .form__group.is-col.is-col__md-6.is-col__xs-12
                p.text--grey.text__md Сумма первоначального взноса
                input.control.control__lg.calc-firstcount--js.number--js(type='text', value='0')
                p.text__md.calc-procent--js &nbsp;
              .form__group.is-col.is-col__md-6.is-col__xs-12
                p.text--grey.text__md Срок рассрочки
                select.control.control__lg.calc-period--js.number--js
                  option(value="6") 6 месяцев
                  option(value="12") 12 месяцев
                  option(value="24") 24 месяцев
                  option(value="32") 32 месяцев
            .calc-estimate
              .calc-estimate__main
                .is-row
                  .is-col.is-col__md-6.is-col__xs-12
                    p.text__lg Ежемесячный платеж:
                  .is-col.is-col__md-6.is-col__xs-12
                    p.text__xlg: b.calc-fee--js 1 000 000 р.
              .calc-estimate__optional
                .calc-estimate__optional-elem
                  .is-row
                    .is-col.is-col__md-6.is-col__xs-12
                      p Сумма рассрочки #[span.text__sm.text--grey (руб)]
                    .is-col.is-col__md-6.is-col__xs-12
                      p.calc-countF--js 120 000 000
                .calc-estimate__optional-elem
                  .is-row
                    .is-col.is-col__md-6.is-col__xs-12
                      p Срок рассрочки #[span.text__sm.text--grey (мес)]
                    .is-col.is-col__md-6.is-col__xs-12
                      p.calc-periodF--js 12
                .calc-estimate__optional-elem
                  .is-row
                    .is-col.is-col__md-6.is-col__xs-12
                      p Окончание выплат
                    .is-col.is-col__md-6.is-col__xs-12
                      p.calc-dateF--js 16.12.2018
            .form__group
              label Ваше имя
              input.control(type='text', placeholder='Белоусов Ян Аристархович')
            .form__group
              label Ваш телефон
              input.control(type='text', placeholder='+7999999999')
            .is-col__md-6.centered-block
              button.btn.btn__md.btn--full.btn--primary(type='submit') Отправить заявку на рассмотрение
  include ../components/_advantages-sc
