main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .title.title--mid.text--center
        h3= title
        span Новости
  section.news
    .container
      .is-col__lg-9.centered-block
        .shares-inner
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-1.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017
                h3 Новый салон в Иркутске!
                p.text__md Мы рады сообщить, что в городе Иркутск по адресу ул.Октябрьской Револ­юции, д.1, корп.7а (ТЦ "Акцент") открылся новый салон Первой Мебельной. Приглашаем ознакомиться с превосходной экспозицией  кухонных гарнитуров в нашем салоне.
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-2.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.first__md.shares__item-desc
              .shares__item-inner
                p.text--grey 11.08.2017
                h3 Состоялся запуск нового производства
                p.text__md 19 мая состоялось торжественное открытие обновленного завода «Первая мебельная». В торжественной церемонии запуска новой производственной линии приняли участие губернатор Санкт-Петербурга Георгий Полтавченко...
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-3.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.shares__item-desc
              .shares__item-inner
                p.text--grey 22 февраля 2017
                h3 Встреча с региональными дилерами
                p.text__md 5 февраля на производстве «Первой мебельной фабрики» прошла встреча с региональными дилерами. Партнеры обсудили вопросы организации бизнес-процессов, логистики, технологии продаж. 
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-4.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.first__md.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017
                h3 Половина кухни в подарок!
                p.text__md «Первая Мебельная Фабрика» предоставляет скидку 100% на верхние секции при заказе кухни.Акция действует только на территории Санкт-Петербурга и Москвы.Подробная информация об акции в фирменных салонах фабрики.
        .text--center.show-more.margtop100
          a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
        .shares-inner(style='display:none')
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-1.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017
                h3 Новый салон в Иркутске!
                p.text__md Мы рады сообщить, что в городе Иркутск по адресу ул.Октябрьской Револ­юции, д.1, корп.7а (ТЦ "Акцент") открылся новый салон Первой Мебельной. Приглашаем ознакомиться с превосходной экспозицией  кухонных гарнитуров в нашем салоне.
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-2.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.first__md.shares__item-desc
              .shares__item-inner
                p.text--grey 11.08.2017
                h3 Состоялся запуск нового производства
                p.text__md 19 мая состоялось торжественное открытие обновленного завода «Первая мебельная». В торжественной церемонии запуска новой производственной линии приняли участие губернатор Санкт-Петербурга Георгий Полтавченко...
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-3.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.shares__item-desc
              .shares__item-inner
                p.text--grey 22 февраля 2017
                h3 Встреча с региональными дилерами
                p.text__md 5 февраля на производстве «Первой мебельной фабрики» прошла встреча с региональными дилерами. Партнеры обсудили вопросы организации бизнес-процессов, логистики, технологии продаж. 
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/news-4.jpg', alt='')
            .is-col.is-col__md-6.is-col__xs-12.first__md.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017
                h3 Половина кухни в подарок!
                p.text__md «Первая Мебельная Фабрика» предоставляет скидку 100% на верхние секции при заказе кухни.Акция действует только на территории Санкт-Петербурга и Москвы.Подробная информация об акции в фирменных салонах фабрики.
