main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Новости
  section.designs-notice
    .container
      .is-col__lg-8.centered-block
        p Первая мебельная фабрика является ответственным поставщиком мебели для гостиниц и общественных зон. Многолетний опыт позволил фабрике реализовать сложнейшие проекты для бизнеса и государственных структур.
        p.text--grey.text__lg 11.08.2017
        ul.list--inline.text__sm.soc
          li
            a.soc__link(href='#')
              i.is-icons.is-icons--soc-1
              span 2 000
          li
            a.soc__link(href='#')
              i.is-icons.is-icons--soc-2
              span 900
          li
            a.soc__link(href='#')
              i.is-icons.is-icons--soc-3
              span 2 000
  section.onenews
    .container
      .onenews__item
        .is-col__lg-8.centered-block
          .text--center
            h3.title--md Фабрика участвовала в реализации таких заказах как:
          ul.list--bullet
            li Реконструкция и реставрация Восточного крыла здания Главного штаба Государственного Эрмитажа (г.Санкт-Петербург)
            li Поставка мебели для второй сцены Мариинского театра (г.Санкт-Петербург)
            li Комплексная поставка мебели и интерьеров в рамках подготовки саммита G20 для Константиновского Дворца (г. Стрельна)
            li Поставка мебели к саммиту ШОС и БРИК  (г. Екатеринбург)
            li Поставка мебели к саммиту прикаспийских стран (г. Астрахань)
            li Меблировка интерьеров саммита АСЕАН-2016 (г.Сочи)
            li Поставка мебели к ПМЭФ-2016 (г.Санкт-Петербург)
      .onenews__item
        .is-col__lg-10.centered-block
          .onenews-lists.is-row
            - for (var x = 1; x < 5; x++)
              .is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
                .onenews-lists__item
                  img(src='images/onenews-'+x+'.jpg', alt='')
                  .onenews-lists__desc.text__sm.text--grey По окончании мероприятия гостей ждал фуршет и выступление артистов
      .onenews__item
        .is-col__lg-8.centered-block
          .text--center
            h3.title--md Фабрика участвовала в реализации таких заказах как:
          ul.list--bullet
            li Реконструкция и реставрация Восточного крыла здания Главного штаба Государственного Эрмитажа (г.Санкт-Петербург)
            li Поставка мебели для второй сцены Мариинского театра (г.Санкт-Петербург)
            li Комплексная поставка мебели и интерьеров в рамках подготовки саммита G20 для Константиновского Дворца (г. Стрельна)
            li Поставка мебели к саммиту ШОС и БРИК  (г. Екатеринбург)
            li Поставка мебели к саммиту прикаспийских стран (г. Астрахань)
            li Меблировка интерьеров саммита АСЕАН-2016 (г.Сочи)
            li Поставка мебели к ПМЭФ-2016 (г.Санкт-Петербург)
      .onenews__item
        .is-col__lg-7.centered-block
          blockquote.blockquote Япония, страна вековых традиций и высоких технологий, вдохновила нас на создание этой кухни в стиле модерн. Характерные национальные элементы гармонично сочетаются с современной цветовой гаммой («лайм», «олива» или «лиственница»). Корпуса цвета «венге» выполнен из ламинированной ДСП, фасад — из МДФ.
      .onenews__item
        .is-col__lg-8.centered-block
          .text--center
            h4.title--md По окончании мероприятия гостей ждал фуршет
          p.text__lg 15 февраля на производстве «Первой мебельной фабрики» прошла встреча с региональными дилерами. Партнеры обсудили вопросы организации бизнес-процессов, логистики, технологии продаж. Специалисты «Первой мебельной фабрики» презентовали кухни из последней коллекции в шоу-руме компании.
          p.text__lg В финале гостей ждала экскурсия, которую провёл технический директор компании Дмитрий Ждан. Участникам был продемонстрирован технологический процесс производства кухонной мебели на всех этапах, они смогли лично убедиться в высоком уровне автоматизации процессов и высочайшем качестве выпускаемой продукции.
  .onenews__item
    img(src='images/onenews.jpg', alt='')
  .onenews__item.text--center
    .is-row.center__xs
      p.is-col.is-col__lg-2.is-col__md-3.is-col__sm-6.is-col__xs-12: a.btn.btn--outlined.btn__md(href='#') Предыдущая новость
      p.is-col.is-col__lg-2.is-col__md-3.is-col__sm-6.is-col__xs-12: a.btn.btn--outlined.btn__md(href='#') Следующая новость
