main.page-main
  section.page404
    .page404-header
    .page404-body.text--center
      .page404-body-inner
        .title.title--mid
          h3 Извините, запрашиваемая страница не найдена. #[br] Но вы можете посмотреть наши кухни
          span Ошибка #[br] 404
        .page404-body__btn
          ul.list--inline
            li: p: a.btn.btn--outlined.btn__md(href='#') На главную страницу
            li: p: a.btn.btn--primary.btn__md(href='#') Перейти в каталог
