main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Бизнес        
  section.designs-notice
    .container
      p Приглашаем к партнерству с ведущим производителем кухонной мебели
      ul.list--inline  
        li: p: a.btn.btn__md.btn--primary(href='#') Стать партнером      
        li: p: a.btn.btn__md.btn--outlined(href='#') Личный кабинет    
  section.card-feature
    .container.container--fullwidth
      .is-row.is-row--null
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--part-1
          .card-feature__item-name Высокий процент #[br] рентабельности
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--part-2
          .card-feature__item-name Обучение #[br] персонала
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--part-3
          .card-feature__item-name Разработка #[br] дизайн-проекта 
        .is-col.is-col__md-3.is-col__sm-6.is-col__xs-12.card-feature__item
          .card-feature__item-ico
            i.is-icons.is-icons--part-4
          .card-feature__item-name Маркетинговая #[br] поддержку  section.card-collect
    .container   
      .is-col__lg-10.centered-block
        .is-row.top__md.middle__xs
          .is-col.is-col__sm-6.is-col__xs-12
            img(src='images/partners.png', alt='')
          .is-col.is-col__sm-5.is-col__xs-12
            .card-collect-info.card-collect-info--default
              p Первая Мебельная фабрика является стремительно развивающейся производственно-сбытовой компанией, которая предлагает партнерам не просто реализацию собственной продукции, а полноценный отлаженный бизнес, проверенный временем!
              blockquote.blockquote: p Наши специалисты помогут Вам найти оптимальное решение и избежать грубых ошибок!
              p Планировать бизнес гораздо проще, когда есть опыт, которым можно воспользоваться. Мы оказываем поддержку на всех этапах! 
  include ../components/_fur-info
  section.variants
    .container
      .title.title--mid.text--center
        h3.light Варианты сотрудничества
        span Варианты 
      .is-col__lg-10.centered-block
        .is-row.stretch__xs.between__xs.variants-inner
          .is-col.is-col__md-5.is-col__xs-12.variants__item
            .variants-num 1
            .variants-txt
              p Вы открываете розничную торговую точку под брендом «Первая мебельная фабрика - АЛНО» в полном соответствии всем стандартам оформления и продаж и работаете только с продукцией фабрики.
              p.margtop30: a.btn.btn__md.btn--outlined(href='#') Заявка на франшизу
          .is-col.is-col__md-5.is-col__xs-12.variants__item
            .variants-num 2
            .variants-txt
              p Вы продаете продукцию «Первой мебельной фабрики – АЛНО» под своим брендом наряду с другими ассортиментными матрицами, в том числе и с мебелью для кухни других производителей.
              p.margtop30: a.btn.btn__md.btn--outlined(href='#') Заявка на франшизу
        .text--center
          h3 Партнёрство с нами сегодня – ваш успех завтра!
  section.designs-notice
    .container
      p Уважаемые дизайнеры! Мы любим яркие, интересные, сложные проекты, поэтому нам нравится работать с #[br] профессиональными дизайнерами интерьеров, как частными, так и с дизайн-студиями. Присоединяйтесь!      
      a.btn.btn--primary.btn__md(href='#') Сотрудничать
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3 Наши адреса и контакты во всех регионах России
        span Контакты        
  include ../components/_objects
  include ../components/_advantages-bl
