main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Оплата
  section.pay
    .container
      .is-col__lg-11.centered-block
        .is-row.bottom__xs.center__xs
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-1
            h3 Удобно
            p.text__sm Вам не нужно собирать документы и терять свое время в очередях. Вам выплачивать банку высокие проценты.
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-2
            h3 Безопасно
            p.text__sm Мы работаем только с самыми надежными банками. Вы защищены от денежных потерь или утечки личной информации
          .is-col.is-col__md-4.is-col__xs-12
            i.is-icons.is-icons--pay-3
            h3 Быстро
            p.text__sm Мы ценим Ваше время. Быстрое и легкое оформление рассрочки прямо во время оформления договора у нас в офисе или прямо у вас дома
  section.designs-notice
    .container
      p Вы можете оплатить ваш заказ не выходя из дома с помощью банковской карты. #[br] Для этого укажите номер договора и выберите салон.
  section.designs-form
    .container
      .is-col__lg-5.is-col__md-6.centered-block
        .forms
          form(action="" method="method")
            .form__group
              label ФИО
              input.control(type='text', placeholder='Белоусов Ян Аристархович')
            .form__group
              label Ваш E-mail
              input.control(type='email', placeholder='info@fabrika.ru')
            .form__group
              label Номер вашего договора
              input.control(type='text', placeholder='1234567890')
            .form__group
              label Выбeрите салон
              select.control
                option Московский проспект, 79
                option Московский проспект, 79
                option Московский проспект, 79
            .form__group.text--center
              +fieldRadio('org', 'id1', 'Я согласен(а) с условиями оферты', false)
            button.btn.btn__md.btn--full.btn--primary(type='submit') Перейти к оплате
