main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Cалоны
  section.catalog-grand
    .container
      .filter
        .filter-inner.filter-inner--start
          .filter__item.is-col.is-col__md-4
            .form__group
              a.text--primary(href='#') Санкт-Петербург    
          .filter__item.is-col.is-col__lg-2.is-col__md-3
            .form__group
              select.control
                option Район
                option Район
          .filter__item.is-col.is-col__lg-2.is-col__md-3
            .form__group
              select.control
                option Метро
                option Метро      
      .catalog-inner
        .is-row.is-row--null
          - for (var x = 1; x < 4; x++)
            .is-col.is-col__md-6.is-col__xs-12
              .catalog__item.catalog__item--sm
                .catalog__item-img
                  img(src='images/catalog-25.jpg', alt='')
                  .catalog__item-info.catalog__item-info--high.is-row.stretch__xs
                      .is-col__xs-12.catalog__item-info-main.catalog__item-info-main--loc
                        .is-col.is-col__sm-7.is-col__xs-12
                          ul.list--inline.text__sm.margbot30
                            li
                              .objects-body__item-subway
                                .ico.ico--blue
                                span м. Фрунзенская
                            li: a.location-link(href='#')
                              .objects-body__item-subway
                                i.icon-location-2
                                span.text--primary Проложить маршрут
                          p Московский пр., 79
                          .card-main__info-line.text__sm
                            .is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-36
                            .is-col__sm-6.is-col__xs-12 E-mail: salon_mos79@1mf.ru
                          .card-main__info-line.text__sm
                            .is-col__sm-6.is-col__xs-12 Пн-Пт: 10:00-20:00
                            .is-col__sm-6.is-col__xs-12 Сб-Вс: 10:00-20:00
                        .is-col.is-col__sm-5.is-col__xs-12
                          p: a.btn.btn--full.btn__md.btn--primary(href='#') Записатьcя в салон
                          p: a.btn.btn--full.btn__md.btn--outlined(href='#') Подробнее о салоне
            .is-col.is-col__md-6.is-col__xs-12
              .catalog__item.catalog__item--sm
                .catalog__item-img
                  img(src='images/catalog-26.jpg', alt='')
                  .catalog__item-info.catalog__item-info--high.is-row.stretch__xs
                      .is-col__xs-12.catalog__item-info-main.catalog__item-info-main--loc
                        .is-col.is-col__sm-7.is-col__xs-12
                          ul.list--inline.text__sm.margbot30
                            li
                              .objects-body__item-subway
                                .ico.ico--blue
                                span м. Фрунзенская
                            li: a.location-link(href='#')
                              .objects-body__item-subway
                                i.icon-location-2
                                span.text--primary Проложить маршрут
                          p Московский пр., 79
                          .card-main__info-line.text__sm
                            .is-col__sm-6.is-col__xs-12 Тел: +7 (812) 244-37-36
                            .is-col__sm-6.is-col__xs-12 E-mail: salon_mos79@1mf.ru
                          .card-main__info-line.text__sm
                            .is-col__sm-6.is-col__xs-12 Пн-Пт: 10:00-20:00
                            .is-col__sm-6.is-col__xs-12 Сб-Вс: 10:00-20:00
                        .is-col.is-col__sm-5.is-col__xs-12
                          p: a.btn.btn--full.btn__md.btn--primary(href='#') Записатьcя в салон
                          p: a.btn.btn--full.btn__md.btn--outlined(href='#') Подробнее о салоне
