main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Салон
  section.designs-notice
    .container       
      .is-col__md-6.is-col__sm-8.centered-block
        p.text__lg Кухня вашей мечты начинается здесь!
        a.btn.btn__md.btn--primary(href='#') Вызвать мобильный салон        
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3 Как это происходит?
  section.card-deliver
    .container
      .is-row.relative
        .card-deliver--line
          img(src='images/icons/deliv-line.svg', alt='') 
        .is-col.is-col__lg-5.is-col__md-6.is-col__xs-12.bg--primary.text--white.card-deliver__item
            .card-deliver__icon.card-deliver__icon--white
              i.is-icons.is-icons--deliv-1
            .card-deliver__txt.first__xs.last__md
              p.text__lg Посредством отправки интернет-заявки Вы вызываете на дом мобильную бригаду в составе дизайнера-конструктора и дизайнера по мебели. 
        .is-col.is-col__lg-7.is-col__md-6.is-col__md-6.is-col__xs-12.bg--grey.card-deliver__item.text__md--left.text--center.card-deliver__item--title
            h3.light Вы можете получить мебель #[br] своей мечты, не выходя из дома
        .is-col__lg-9.is-col__md-10.centered-block
          .card-deliver-items.is-row.between__xs
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-2
                p Выбираем модель
                p.text__sm Подберите стиль и настроение вашей будущей кухни. Наши сотрудники посоветуют лучшие решения для вашей планировки 
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-3
                p Вызываем мобильную бригаду
                p.text__sm К Вам приезжают дизайнер-конструктор и дизайнер по мебели
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon
                  i.is-icons.is-icons--deliv-4
                p Выбор материалов и цвета
                p.text__sm Вы хотите классическую кухню пастельных оттенков, или возможно вам больше по вкусу стиль хай-тек? Дайте волю фантазии!
            .is-col.is-col__md-3.is-col__xs-12
              .card-deliver-items__item.card-deliver__icon--line
                .card-deliver__icon.card-deliver__icon--line
                  i.is-icons.is-icons--deliv-5
                p Мебель отдается в производство        
                p.text__sm Вы получите полноценный дизайн-проект и предварительный расчет стоимости вашей будущей кухни себе на почту      
          ul.list--inline.text--center
            li.is-col__lg-2.is-col__md-3.is-col__sm-5: a.btn.btn--full.btn__md.btn--primary(href='#') Оставить заявку
  include ../components/_designers
  section.cost-services
    .container
      .is-col__lg-7.centered-block.text--center
        h3 При заказе мебели — Вам возвращается #[br] 3 000 рублей от стоимости услуг #[br] мобильного салона
        .cost-services__items
          .cost-services__item
            p В пределах КАД
            p.text__lg: b.text--primary 3 000 р.
          .cost-services__item
            p Не дальше 50 км от КАД
            p.text__lg: b.text--primary 4 000 р.
          .cost-services__item
            p Дальше 50 км от КАД
            p.text__lg: b.text--primary 5 000 р.
        a.btn.btn__md.btn--primary(href='#') Вызвать мобильный салон
