main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Распродажа
  section.catalog-grand
    .container
      .filter
        .filter-inner
          .filter__item
            .filter-inner
              .filter__item.is-col
                .form__group
                  select.control
                    option Стиль
                    option Стиль
              .filter__item.is-col
                .form__group
                  select.control
                    option Цвет
                    option Цвет
              .filter__item.is-col
                .form__group
                  select.control
                    option Салон
                    option Салон        
          .filter__item
            .filter-inner
              .filter__item.is-col
                .form__group
                  a.text--primary(href='#') Выставочные образцы       
              .filter__item.is-col
                .form__group
                  a(href='#') Дисконт центр    
      .catalog-inner.catalog-inner--main
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/catalog-13.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/catalog-14.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/catalog-15.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')
          .catalog__item-img
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/catalog-16.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-17.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            .slider-project
              - for (var x = 1; x < 5; x++)
                img(src='images/catalog-18.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
      .text--center.show-more.margtop30
        a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
      .catalog-inner.catalog-inner--main(style='display:none')
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-7.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-2.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')      
          .catalog__item-img  
            .notice.notice--primary sale
            img(src='images/catalog-2.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__lg-10.is-col__xs-9
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Арт-Деко»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
              .catalog__item-info-sale.is-col.is-col__lg-2.is-col__xs-3 -50%
        a.catalog__item(href='#')
          .catalog__item-img
            img(src='images/catalog-7.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-7.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-7.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
  include ../components/_fur-info
  include ../components/_advantages-sc
