main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Поиск
  section.search
    .container
      .search-bar.is-row.middle__xs
        .is-col.is-col__lg-10.is-col__md-9.is-col__sm-8.is-col__xs-12
          form(action="" method="method")
            .form__group.search-bar-inner
              input.control.control--search(type='text', name='search', placeholder='Купить кухню Токио МДФ')
              button.btn(type='submit'): i.is-icons.is-icons--search-bar
        .is-col.is-col__lg-2.is-col__md-3.is-col__sm-4.is-col__xs-12
          .form__group
            select.control.control--nob
              option Сортировать по:
              option Сортировать по:      
      .catalog-inner.catalog-inner--main
        a.catalog__item(href='#')
          .catalog__item-img
            .notice.notice--default new
            img(src='images/catalog-13.jpg', alt='')
            .catalog__item-info.is-row.stretch__xs
              .catalog__item-info-main.is-col.is-col__xs-12
                .is-row.between__xs.is-col__xs-12
                  .catalog__item-info-title.is-col Кухня «Токио»
                  .catalog__item-info-price.price.is-col
                    span.price-old 168 800 р.
                    span.price-new 108 867 р.
