main.page-main
  include ../components/_breadcrumbs-d
  section.designs-title
    .container
      .title.title--mid.text--center
        h3= title
        span Акции
  section.shares
    .container
      .is-col__lg-9.centered-block
        - for (var x = 1; x < 3; x++)
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/shares-2.jpg', alt='')
                .shares__item-tip 
                  .name скидка
                    .desc 30%
                .shares__item-label
                  img(src='images/shares-label.png', alt='')
            .is-col.is-col__md-6.is-col__xs-12.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017 – 11.08.2017
                h3 Половина кухни в подарок!
                p.text__md «Первая Мебельная Фабрика» предоставляет скидку 100% на верхние секции при заказе кухни.Акция действует только на территории Санкт-Петербурга и Москвы.Подробная информация об акции в фирменных салонах фабрики.
          .is-row.is-row--null.stretch__xs.shares__item
            .is-col.is-col__md-6.is-col__xs-12
              .shares__item-img
                img(src='images/shares-2.jpg', alt='')
                .shares__item-tip 
                  .name скидка
                    .desc 30%
                .shares__item-label
                  img(src='images/shares-label.png', alt='')
            .is-col.is-col__md-6.is-col__xs-12.first__md.shares__item-desc
              .shares__item-inner
                p.text--grey 11.06.2017 – 11.08.2017
                h3 Половина кухни в подарок!
                p.text__md «Первая Мебельная Фабрика» предоставляет скидку 100% на верхние секции при заказе кухни.Акция действует только на территории Санкт-Петербурга и Москвы.Подробная информация об акции в фирменных салонах фабрики.
