main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Вакансии
  section.designs-notice
    .container
      span Присоединяйтесь к команде компании с богатой историей и большими амбициями
  section.vacancies
    .container
      .is-col__lg-9.centered-block
        .text--center
          h3.title--md Открытые вакансии
        .vacancies-block.accordion
          .vacancies-block__item.accordion__item
            .accordion__item-header
              h3 Менеджер по продажам
              a.btn.btn--outlined.btn__md.accordion__link--js(href='#') 
                span Подробнее &nbsp;
                i.icon-arr-b
            .accordion__item-body
              .is-row
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Условия:
                    ul.list--bullet.text__md
                      li Гибкая система оплаты труда (оклад + % от личных продаж + премии)
                      li Широкие возможности для профессионального и личностного роста
                      li Оформление в полном соответствии с ТК РФ (белая з/ плата)
                      li Бесплатное корпоративное обучение на фабрике
                      li Работа в ТЦ «Аквилон»
                  .vacancies-br
                    h4.title--md Задачи должности:
                    ul.list--bullet.text__md
                      li Консультирование потенциальных клиентов
                      li Выявление потребностей, презентация продукта
                      li Разработка дизайн-проектов кухонных гарнитуров
                      li Оформление и сопровождение заказа до момента установки гарнитура у клиента
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Требования:
                    ul.list--bullet.text__md
                      li Умение легко находить контакт с разными людьми
                      li Владение техниками продаж
                      li Чувство вкуса/стиля
                      li Определенные способности к черчению, рисованию
                      li ЖЕЛАТЕЛЕН опыт работы в МЕБЕЛЬНОМ направлении
                  .vacancies-br
                    .designers-info.designers-info--once
                      .designers-info__img.bg--grey
                        img(src='images/ava-vac.png', alt='')
                      .designers-info__adr.bg--grey
                        p Екатерина Смирнова
                        p.text__sm Директор по персоналу
                        a.text--primary.text__sm(href='#') team@1mf.ru
              .text--center.margtop30
                a.btn.btn--primary.btn__md(href='#') Откликнуться на вакансию
          .vacancies-block__item.accordion__item
            .accordion__item-header
              h3 Директор по качеству
              a.btn.btn--outlined.btn__md.accordion__link--js(href='#') 
                span Подробнее &nbsp;
                i.icon-arr-b
            .accordion__item-body
              .is-row
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Условия:
                    ul.list--bullet.text__md
                      li Гибкая система оплаты труда (оклад + % от личных продаж + премии)
                      li Широкие возможности для профессионального и личностного роста
                      li Оформление в полном соответствии с ТК РФ (белая з/ плата)
                      li Бесплатное корпоративное обучение на фабрике
                      li Работа в ТЦ «Аквилон»
                  .vacancies-br
                    h4.title--md Задачи должности:
                    ul.list--bullet.text__md
                      li Консультирование потенциальных клиентов
                      li Выявление потребностей, презентация продукта
                      li Разработка дизайн-проектов кухонных гарнитуров
                      li Оформление и сопровождение заказа до момента установки гарнитура у клиента
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Требования:
                    ul.list--bullet.text__md
                      li Умение легко находить контакт с разными людьми
                      li Владение техниками продаж
                      li Чувство вкуса/стиля
                      li Определенные способности к черчению, рисованию
                      li ЖЕЛАТЕЛЕН опыт работы в МЕБЕЛЬНОМ направлении
                  .vacancies-br
                    .designers-info.designers-info--once
                      .designers-info__img.bg--grey
                        img(src='images/ava-vac.png', alt='')
                      .designers-info__adr.bg--grey
                        p Екатерина Смирнова
                        p.text__sm Директор по персоналу
                        a.text--primary.text__sm(href='#') team@1mf.ru
              .text--center.margtop30
                a.btn.btn--primary.btn__md(href='#') Откликнуться на вакансию
          .vacancies-block__item.accordion__item
            .accordion__item-header
              h3 Директор салона
              a.btn.btn--outlined.btn__md.accordion__link--js(href='#') 
                span Подробнее &nbsp;
                i.icon-arr-b
            .accordion__item-body
              .is-row
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Условия:
                    ul.list--bullet.text__md
                      li Гибкая система оплаты труда (оклад + % от личных продаж + премии)
                      li Широкие возможности для профессионального и личностного роста
                      li Оформление в полном соответствии с ТК РФ (белая з/ плата)
                      li Бесплатное корпоративное обучение на фабрике
                      li Работа в ТЦ «Аквилон»
                  .vacancies-br
                    h4.title--md Задачи должности:
                    ul.list--bullet.text__md
                      li Консультирование потенциальных клиентов
                      li Выявление потребностей, презентация продукта
                      li Разработка дизайн-проектов кухонных гарнитуров
                      li Оформление и сопровождение заказа до момента установки гарнитура у клиента
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Требования:
                    ul.list--bullet.text__md
                      li Умение легко находить контакт с разными людьми
                      li Владение техниками продаж
                      li Чувство вкуса/стиля
                      li Определенные способности к черчению, рисованию
                      li ЖЕЛАТЕЛЕН опыт работы в МЕБЕЛЬНОМ направлении
                  .vacancies-br
                    .designers-info.designers-info--once
                      .designers-info__img.bg--grey
                        img(src='images/ava-vac.png', alt='')
                      .designers-info__adr.bg--grey
                        p Екатерина Смирнова
                        p.text__sm Директор по персоналу
                        a.text--primary.text__sm(href='#') team@1mf.ru
              .text--center.margtop30
                a.btn.btn--primary.btn__md(href='#') Откликнуться на вакансию
          .vacancies-block__item.accordion__item
            .accordion__item-header
              h3 Директор по качеству
              a.btn.btn--outlined.btn__md.accordion__link--js(href='#') 
                span Подробнее &nbsp;
                i.icon-arr-b
            .accordion__item-body
              .is-row
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Условия:
                    ul.list--bullet.text__md
                      li Гибкая система оплаты труда (оклад + % от личных продаж + премии)
                      li Широкие возможности для профессионального и личностного роста
                      li Оформление в полном соответствии с ТК РФ (белая з/ плата)
                      li Бесплатное корпоративное обучение на фабрике
                      li Работа в ТЦ «Аквилон»
                  .vacancies-br
                    h4.title--md Задачи должности:
                    ul.list--bullet.text__md
                      li Консультирование потенциальных клиентов
                      li Выявление потребностей, презентация продукта
                      li Разработка дизайн-проектов кухонных гарнитуров
                      li Оформление и сопровождение заказа до момента установки гарнитура у клиента
                .is-col.is-col__md-6.is-col__xs-12
                  .vacancies-br
                    h4.title--md Требования:
                    ul.list--bullet.text__md
                      li Умение легко находить контакт с разными людьми
                      li Владение техниками продаж
                      li Чувство вкуса/стиля
                      li Определенные способности к черчению, рисованию
                      li ЖЕЛАТЕЛЕН опыт работы в МЕБЕЛЬНОМ направлении
                  .vacancies-br
                    .designers-info.designers-info--once
                      .designers-info__img.bg--grey
                        img(src='images/ava-vac.png', alt='')
                      .designers-info__adr.bg--grey
                        p Екатерина Смирнова
                        p.text__sm Директор по персоналу
                        a.text--primary.text__sm(href='#') team@1mf.ru
              .text--center.margtop30
                a.btn.btn--primary.btn__md(href='#') Откликнуться на вакансию
