main.page-main
  include ../components/_breadcrumbs-d
  section.contacts-title
    .container
      .title.title--mid.text--center
        h3= title
        span Работы        
  section.hotel-projects
    .container
      .filter.is-col__lg-6.centered-block
        .filter-inner
          .filter__item
            .form__group
              select.control
                option Стиль
                option Стиль 
          .filter__item                 
            .form__group
              select.control
                option Тип планировки
                option Тип планировки
          .filter__item
            .form__group
              select.control
                option Фасад
                option Фасад
      .is-col__lg-10.centered-block
        .is-row.is-row--null.catalog-inner
          - for (var y = 1; y < 5; y++)
            .is-col.is-col__md-6.is-col__xs-12
              .catalog__item.catalog__item--grey.catalog__item--default
                .catalog__item-img
                  .slider-project
                    - for (var x = 1; x < 5; x++)
                      div: img(src='images/hotel-5.jpg', alt='')
                  .catalog__item-info.is-row.stretch__xs
                    .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                      .is-row.between__xs.middle__xs.is-col__xs-12
                        .catalog__item-info-title.is-col 
                          | Квартира Ивана и Елены
                          .text__sm Кухня «Токио»
                          span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                          span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                    a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')
                      img(src='images/icons/more.png', alt='')
                      span Подробнее
            .is-col.is-col__md-6.is-col__xs-12
              .catalog__item.catalog__item--grey.catalog__item--default
                .catalog__item-img
                  .slider-project
                    - for (var x = 1; x < 5; x++)
                      div: img(src='images/hotel-6.jpg', alt='')
                  .catalog__item-info.is-row.stretch__xs
                    .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                      .is-row.between__xs.middle__xs.is-col__xs-12
                        .catalog__item-info-title.is-col 
                          | Квартира Петра и Ольги
                          .text__sm Кухня «Арт-Деко»
                          span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                          span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                    a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')                 
                      img(src='images/icons/more.png', alt='')
                      span Подробнее          
        .text--center.hotel-projects__btn.margtop100
          a.btn.btn--primary.btn__lg.show-more--js(href='#') ПОКАЗАТЬ ЕЩЕ +
        .is-row.is-row--null.catalog-inner(style='display:none')          
            - for (var y = 1; y < 5; y++)
              .is-col.is-col__md-6.is-col__xs-12
                .catalog__item.catalog__item--grey.catalog__item--default
                  .catalog__item-img
                    .slider-project
                      - for (var x = 1; x < 5; x++)
                        div: img(src='images/hotel-5.jpg', alt='')
                    .catalog__item-info.is-row.stretch__xs
                      .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                        .is-row.between__xs.middle__xs.is-col__xs-12
                          .catalog__item-info-title.is-col 
                            | Квартира Ивана и Елены
                            .text__sm Кухня «Токио»
                            span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                            span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                      a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')
                        img(src='images/icons/more.png', alt='')
                        span Подробнее
              .is-col.is-col__md-6.is-col__xs-12
                .catalog__item.catalog__item--grey.catalog__item--default
                  .catalog__item-img
                    .slider-project
                      - for (var x = 1; x < 5; x++)
                        div: img(src='images/hotel-6.jpg', alt='')
                    .catalog__item-info.is-row.stretch__xs
                      .catalog__item-info-main.is-col.is-col__lg-9.is-col__xs-9
                        .is-row.between__xs.middle__xs.is-col__xs-12
                          .catalog__item-info-title.is-col 
                            | Квартира Петра и Ольги
                            .text__sm Кухня «Арт-Деко»
                            span.text--grey.text__md.hidden__sm.hidden__xs Планировка: Угловая
                            span.text--grey.text__md.hidden__sm.hidden__xs Стиль: Современный
                      a.catalog__item-info-sale.is-col.is-col__lg-3.is-col__xs-3(href='#')                 
                        img(src='images/icons/more.png', alt='')
                        span Подробнее          
  include ../components/_advantages-sc
