//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title


//- form-input
mixin fieldInput(type, name, label, placeholder, required)
    label= label
    input.control(type=type, name=name, placeholder=placeholder, required=required)

//- form-textarea
mixin fieldTextarea(name, label, placeholder, rows, required)
    label= label
    textarea.control(name=name, placeholder=placeholder, rows=rows,  required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=name, checked=checked)
        label(for=id)=label


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
