extends layouts/_default

block title
    title Case__fly
    - var title = 'Полезная информация'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_articles

block siteFooter
    include partials/_footer
