extends layouts/_default

block title
    title Case__fly
    - var title = 'Добро пожаловать, Иван'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_cabinet

block siteFooter
    include partials/_footer
