extends layouts/_default

block title
    title Case__fly
    - var title = 'Прихожая «Токио»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card-fur

block siteFooter
    include partials/_footer
