extends layouts/_default

block title
    title Case__fly
    - var title = 'Все кухни'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog

block siteFooter
    include partials/_footer
