extends layouts/_default

block title
    title Case__fly
    - var title = 'Прихожие'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_catalog-2

block siteFooter
    include partials/_footer
