extends layouts/_default

block title
    title Case__fly
    - var title = 'Корпоративным клиентам'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_corp-clients

block siteFooter
    include partials/_footer
