extends layouts/_default

block title
    title Case__fly
    - var title = 'Доставка и сборка'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_delivery

block siteFooter
    include partials/_footer
