extends layouts/_default

block title
    title Case__fly
    - var title = 'Квартира Ивана и Елены'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_flat

block siteFooter
    include partials/_footer
