extends layouts/_default

block title
    title Case__fly
    - var title = 'Мебель для дома'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_furniture

block siteFooter
    include partials/_footer
