extends layouts/_default

block title
    title Case__fly
    - var title = 'Отели и гостиницы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_hotel

block siteFooter
    include partials/_footer
