extends layouts/_default-index

block title
    title Case__fly
    - var title = 'Main'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-index

block siteMain
    include pages/_index

block siteFooter
    include partials/_footer
