extends layouts/_default

block title
    title Case__fly
    - var title = 'Честная рассрочка без перепла'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_installment

block siteFooter
    include partials/_footer
