extends layouts/_default

block title
    title Case__fly
    - var title = 'Первая мебельная фабрика — поставщик мебели для международных саммитов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_onenews

block siteFooter
    include partials/_footer
