extends layouts/_default

block title
    title Case__fly
    - var title = 'Добро пожаловать, Иван'

block pageName
    -var pageName = "index"

block siteHeader

block siteMain
    include pages/_page404

block siteFooter
