extends layouts/_default

block title
    title Case__fly
    - var title = 'Оплата онлайн'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_pay

block siteFooter
    include partials/_footer
