extends layouts/_default

block title
    title Case__fly
    - var title = 'Распродажа выставочных образцов'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_sale

block siteFooter
    include partials/_footer
