extends layouts/_default

block title
    title Case__fly
    - var title = 'Мобильный салон'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_salon

block siteFooter
    include partials/_footer
