extends layouts/_default

block title
    title Case__fly
    - var title = 'Салоны Первой Мебельной'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_salons

block siteFooter
    include partials/_footer
