extends layouts/_default

block title
    title Case__fly
    - var title = 'Работа в «Первой Мебельной»'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_vacancies

block siteFooter
    include partials/_footer
