extends layouts/_default

block title
    title Case__fly
    - var title = 'Наши работы'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_works

block siteFooter
    include partials/_footer
